<%
panelData = local_data[:entry_data]
index = local_data[:index]

bgc = panelData[:background_color]
bgcClass = colorProfile(:mono).include?(bgc) ? contentBgc(bgc) : contentBgc(bgc, { gradient: true })
titleColor = colorProfile(:dark).include?(bgc) ? "e-col-white-1" : "e-col-brand-green-1"

headingLevel = panelData[:heading_level] != "level-3" ? :h2 : :h3
headingAttrs = {
  "class": "title-lg e-mgn-b-sm #{ titleColor }"
}

panelSlug = panelData[:panel_slug]
%>

<div
  id="<%= panelSlug ? panelSlug : "panel-#{ index }" %>"
  class="panel <%= bgcClass %>"
>
  <div class="panel__inner">
    <div class="panel__content panel__content--medium e-align-cen">

      <% content_tag(headingLevel, headingAttrs) do %>
        <% if panelSlug %>
          <a class="panel__title-slug" href="#<%= panelSlug %>"><%= panelData[:title] %></a>
        <% else %>
          <%= panelData[:title] %>
        <% end %>
      <% end %>

      <% if panelData.copy %>
        <%= markdown(panelData[:copy], 'byline') %>
      <% end %>

    </div>
    <div class="panel__content panel__content--medium e-mgn-t-lg">
      <div class="grid grid--xs">
        <% panelData[:accordians].each do |accordian| %>
          <div class="grid__cell grid__cell--xs-12 grid__cell--xs-above-sm-6">
            <%= partial 'views/partials/accordian',
              locals: { local_data: {
                accordian_data: accordian }} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
