<%
panelData = local_data[:entry_data]
flow = local_data[:flow]

bgc = panelData[:background_color]
bgcClass = colorProfile(:mono).include?(bgc) ? panelBgc(bgc) : panelBgc(bgc, { gradient: true })

callsToAction = panelData[:calls_to_action]
copy = panelData[:copy]
imageSize = panelData[:image_size] ? panelData[:image_size] : "medium"
isNoOverlap = panelData[:no_overlap]

title = panelData[:title]
titleColor = colorProfile(:dark).include?(bgc) ? "e-col-white-1" : "e-col-brand-green-2"
hasTitle = panelData[:show_title]
headingLevel = panelData[:heading_level]

index = local_data[:index]

if imageSize == "small"
  cfulImageWidth = "800"
elsif imageSize == "medium"
  cfulImageWidth = "1000"
elsif imageSize == "large"
  cfulImageWidth = "1500"
elsif imageSize == "full-bleed"
  cfulImageWidth = "2000"
else
  cfulImageWidth = "1000"
end
%>

<section
  id="panel-<%= index %>"
  class="panel <%= "panel--flow" if flow %> <%= bgcClass %>">

  <div class="panel__inner <%= "panel__inner--bg-img" if panelData[:image] %>">
    <% if panelData[:image] %>
      <div
        class="panel__bg-img
              panel__bg-img--<%= imageSize %>
              <%= "panel__bg-img--" + (isNoOverlap ? "no-ol" : "ol") %>">
        <img
          class="b-lazy"
          src="<%= panelData[:image][:url] %>?fm=jpg&w=<%= cfulImageWidth %>&q=20"
          data-src="<%= panelData[:image][:url] %>?w=<%= cfulImageWidth %>"
          alt="<%= panelData[:image][:description] %>"/>
      </div>
    <% end %>

    <div class="panel__content panel__content--medium">
      <% if hasTitle %>
        <% if headingLevel == "level-3" %>
          <h3 class="title-lg e-align-cen e-mgn-b-sm <%= titleColor %>"><%= title %></h3>
        <% else %>
          <h2 class="title-lg e-align-cen e-mgn-b-sm <%= titleColor %>"><%= title %></h2>
        <% end %>
      <% end; if copy %>
        <p class="strap-md e-align-cen e-mgn-b-sm"><%= panelData[:copy] %></p>

      <% end; if callsToAction %>
        <div class="grid grid--xs grid--center">
          <% callsToAction.each do |cta| %>
            <%= partial "views/partials/ctas",
              locals: { local_data: {
                entry_data: cta }} %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
