<%
require "json"
panelData = local_data[:entry_data]
index = local_data[:index]
flow = local_data[:flow]

bgc = panelData[:background_color]
bgcClass = contentBgc(bgc)

title = panelData[:title]
titleColor = colorProfile(:dark).include?(bgc) ? "e-col-white-1" : "e-col-brand-green-1"
headingLevel = panelData[:heading_level]
caption = panelData[:caption]

rowOneGridCellWidth = 12 / panelData[:charts_row_1].length
if panelData[:charts_row_2]
  rowTwoGridCellWidth = 12 / panelData[:charts_row_2].length
end
%>

<section
  id="panel-<%= index %>"
  class="panel <%= "panel--flow" if flow %> panel--no-overflow-x <%= bgcClass %>">
  <span
    id="<%= panelData[:title].parameterize %>"
    class="e-hidden"
    aria-hidden="true"></span>

  <div class="panel__inner">
    <% if panelData[:show_title] %>
      <header class="panel__content panel__content--full">
        <div class="grid grid--md grid--center">
          <div class="grid__cell grid__cell--md-12 grid__cell--md-above-md-7">
            <% if headingLevel == "level-3" %>
              <h3 class="title-lg <%= titleColor %> e-mgn-b-md"><%= panelData[:title] %></h3>
            <% else %>
              <h3 class="title-lg <%= titleColor %> e-mgn-b-md"><%= panelData[:title] %></h3>
            <% end %>
          </div>
        </div>
      </header>
    <% end %>

    <div class="panel__content panel__content--<%= panelData[:rows_width] ? panelData[:rows_width] : "full" %>">
      <div class="grid grid--md">

        <!--**********************************************
            =Row 1
        ***********************************************-->

        <% if panelData[:charts_row_1] %>
          <% panelData[:charts_row_1].each_with_index do |panelEntry, index| %>

            <%# Chart %>
            <% if panelEntry[:TYPE] == "chart" %>
              <div class="grid__cell grid__cell--md-12 grid__cell--md-above-sm-<%= rowOneGridCellWidth %>">
                <section class="chart chart--full-height">
                  <% if panelEntry[:show_header] %>
                    <header
                      class="chart__header"
                      style="<%= "min-width: #{ panelEntry[:chart_width] }px;" if panelEntry[:chart_width] %>">
                      <div class="chart__header-inner">
                        <% if panelData[:show_title] %>
                          <h3 class="title-xs e-col-brand-green-2 e-mgn-b-xxs"><%= panelEntry[:title] %></h3>
                        <% else %>
                          <h3 class="title-xs e-col-brand-green-2 e-mgn-b-xxs"><%= panelEntry[:title] %></h3>
                        <% end %>
                        <p class="e-fz-xs e-col-black-1"><%= panelEntry[:caption] %></p>
                      </div>
                    </header>
                  <% end %>
                  <div
                    class="chart__container"
                    style="
                      <%= "min-width: #{ panelEntry[:chart_width] }px;" if panelEntry[:chart_width] %>
                      <%= "min-height: #{ panelEntry[:chart_height] }px;" if panelEntry[:chart_height] %>">
                    <canvas class="chart__canvas" style="max-width:100%!important;"></canvas>
                  </div>
                  <% if panelEntry[:citation] %>
                    <div class="chart__citation"><%= panelEntry[:citation] %></div>
                  <% end %>
                  <%= partial "views/partials/panel/chart-data",
                    locals: { local_data: {
                      chart_data: panelEntry }} %>
                </section>
              </div>

            <%# Text box %>
            <% elsif panelEntry[:TYPE] == "text_box" %>
              <div class="grid__cell grid__cell--center grid__cell--md-12 grid__cell--md-above-sm-<%= rowOneGridCellWidth %>">
                <%= partial "views/partials/text-box",
                  locals: { local_data: {
                    text_box_data: panelEntry,
                    align: "center"
                }} %>
              </div>
            <% end %>
          <% end %>
        <% end %>

        <!--**********************************************
            =Row 2
        ***********************************************-->

        <% if panelData[:charts_row_2] %>
          <% panelData[:charts_row_2].each_with_index do |panelEntry, index| %>

            <%# Chart %>
            <% if panelEntry[:TYPE] == "chart" %>
              <div class="grid__cell grid__cell--md-12 grid__cell--md-above-sm-<%= rowTwoGridCellWidth %>">
                <section class="chart chart--full-height">
                  <% if panelEntry[:show_header] %>
                    <header
                      class="chart__header"
                      style="<%= "min-width: #{ panelEntry[:chart_width] }px;" if panelEntry[:chart_width] %>">
                      <div class="chart__header-inner">
                        <% if panelData[:show_title] %>
                          <h3 class="title-xs e-col-brand-green-2 e-mgn-b-xxs"><%= panelEntry[:title] %></h3>
                        <% else %>
                          <h3 class="title-xs e-col-brand-green-2 e-mgn-b-xxs"><%= panelEntry[:title] %></h3>
                        <% end %>
                        <p class="e-fz-xs e-col-black-1"><%= panelEntry[:caption] %></p>
                      </div>
                    </header>
                  <% end %>
                  <div
                    class="chart__container"
                    style="
                      <%= "min-width: #{ panelEntry[:chart_width] }px;" if panelEntry[:chart_width] %>
                      <%= "min-height: #{ panelEntry[:chart_height] }px;" if panelEntry[:chart_height] %>">
                    <canvas class="chart__canvas print__hide"></canvas>
                  </div>
                  <div class="chart__citation"><%= panelEntry[:citation] %></div>
                  <%= partial "views/partials/panel/chart-data",
                    locals: { local_data: {
                      chart_data: panelEntry }} %>
                </section>
              </div>

            <%# Text box %>
            <% elsif panelEntry[:TYPE] == "text_box" %>
              <div class="grid__cell grid__cell--md-12 grid__cell--md-above-sm-<%= rowTwoGridCellWidth %>">
                <%= partial "views/partials/text-box",
                  locals: { local_data: {
                    text_box_data: panelEntry,
                    align: "center"
                }} %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
