<%
require "json"
panelData = local_data[:entry_data]
index = local_data[:index]

title = panelData[:title]
caption = panelData[:caption]
%>

<section
  id="panel-<%= index %>"
  class="panel e-bgc-white-2">

  <div class="panel__content panel__content--full">
    <% panelData[:charts_row_1].each_with_index do |chart, index| %>
      <section
        class="chart"
        data-chart-id="<%= chart[:ID] %>">

        <header class="chart__header">
          <h2 class="title-sm e-col-brand-green-2 e-mgn-b-xxs"><%= title %></h2>
          <p class="e-fz-xs e-col-grey-3"><%= caption %></p>
        </header>

        <div
          class="chart__container"
          style="width: 100%; height: 400px;">
          <canvas class="chart__canvas"></canvas>
        </div>

        <div class="chart__legend"></div>

        <script class="chart__config" type="application/json">
          {
            "type": "<%= chart[:chart_type] %>",
            "data": {
              "datasets": <%= chart[:chart_data] %>
            },
            "options": <%= chart[:chart_options] %>,
            "colors": <%= chart[:chart_colors] %>
          }
        </script>
      </section>
    <% end %>
  </div>
</section>
