<%
require "json"
panelData = local_data[:entry_data]
index = local_data[:index]

title = panelData[:title]
caption = panelData[:caption]

rowOneGridCellWidth = 12 / panelData[:charts_row_1].length
if panelData[:charts_row_2]
  rowTwoGridCellWidth = 12 / panelData[:charts_row_2].length
end
%>

<section
  id="panel-<%= index %>"
  class="panel e-bgc-white-2">

  <% if panelData[:show_title] %>
    <header class="panel__content panel__content--narrow">
      <h2 class="title-lg e-col-brand-green-2 e-mgn-b-md"><%= panelData[:title] %></h2>
    </header>
  <% end %>

  <div class="panel__content panel__content--full">
    <div class="grid grid--sm">

      <!--**********************************************
          =Row 1
      ***********************************************-->

      <% panelData[:charts_row_1].each_with_index do |panelEntry, index| %>
        <div class="grid__cell grid__cell--sm-12 grid__cell--sm-above-sm-<%= rowOneGridCellWidth %>">
          <% if panelEntry[:TYPE] == "chart" %>
            <section class="chart">
              <% if panelEntry[:show_header] %>
                <header class="chart__header">
                  <% if panelData[:show_title] %>
                    <h3 class="title-sm e-col-brand-green-2 e-mgn-b-xxs"><%= panelEntry[:title] %></h3>
                  <% else %>
                    <h2 class="title-sm e-col-brand-green-2 e-mgn-b-xxs"><%= panelEntry[:title] %></h2>
                  <% end %>
                  <p class="e-fz-xs e-col-grey-3"><%= panelEntry[:caption] %></p>
                </header>
              <% end %>
              <div
                class="chart__container"
                style="width: 100%;
                  <%= "height: #{ panelEntry[:chart_height] }px;" if panelEntry[:chart_height] %>">
                <canvas class="chart__canvas"></canvas>
              </div>
              <script class="chart__config" type="application/json">
                {
                  "type": "<%= panelEntry[:chart_type] %>",
                  "data": {
                    "datasets": <%= panelEntry[:chart_datasets] %>,
                    "labels": <%= panelEntry[:chart_labels] %>
                  },
                  "options": <%= panelEntry[:chart_options] %>,
                  "customConfig": <%= panelEntry[:chart_custom_config] %>
                }
              </script>
            </section>
          <% end %>
        </div>
      <% end %>

      <!--**********************************************
          =Row 2
      ***********************************************-->

      <% if panelData[:charts_row_2] %>
        <% panelData[:charts_row_2].each_with_index do |panelEntry, index| %>
          <div class="grid__cell grid__cell--sm-12 grid__cell--sm-above-sm-<%= rowTwoGridCellWidth %>">
            <% if panelEntry[:TYPE] == "chart" %>
              <section class="chart">
                <% if panelEntry[:show_header] %>
                  <header class="chart__header">
                    <% if panelData[:show_title] %>
                      <h3 class="title-sm e-col-brand-green-2 e-mgn-b-xxs"><%= panelEntry[:title] %></h3>
                    <% else %>
                      <h2 class="title-sm e-col-brand-green-2 e-mgn-b-xxs"><%= panelEntry[:title] %></h2>
                    <% end %>
                    <p class="e-fz-xs e-col-grey-3"><%= panelEntry[:caption] %></p>
                  </header>
                <% end %>
                <div
                  class="chart__container"
                  style="width: 100%;
                    <%= "height: #{ panelEntry[:chart_height] }px;" if panelEntry[:chart_height] %>">
                  <canvas class="chart__canvas"></canvas>
                </div>
                <script class="chart__config" type="application/json">
                  {
                    "type": "<%= panelEntry[:chart_type] %>",
                    "data": {
                      "datasets": <%= panelEntry[:chart_datasets] %>,
                      "labels": <%= panelEntry[:chart_labels] %>
                    },
                    "options": <%= panelEntry[:chart_options] %>,
                    "customConfig": <%= panelEntry[:chart_custom_config] %>
                  }
                </script>
              </section>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>

<%# <section class="chart">
<div
  class="chart__container"
  style="width: 100%; height: 400px;">
  <canvas class="chart__canvas"></canvas>
</div>
<script class="chart__config" type="application/json">

</script>
</section> %>
