<%
panelData = local_data[:entry_data]
flow = local_data[:flow]

bgc = panelData[:background_color]
bgcClass = colorProfile(:mono).include?(bgc) ? panelBgc(bgc) : panelBgc(bgc, { gradient: true })


titleColor = "#{ colorProfile(:dark).include?(bgc) ? "e-col-white-1" : "e-col-brand-green-2" }"
headingLevel = panelData[:heading_level]

copySize = panelData[:copy_size]
isCopyLg = copySize == "large"
isCopyXl = copySize == "extra-large"

showMoreCopy = panelData[:show_more]
tweet = panelData[:tweet]

callsToAction = panelData[:calls_to_action]

index = local_data[:index]
%>
<section class="panel <%= "panel--flow" if flow %> <%= bgcClass %>">
  <span
    id="panel-<%= index %>"
    class="e-hidden"
    aria-hidden="true">Panel anchor</span>

  <div class="panel__inner">
    <div class="panel__content panel__content--full">
      <div class="grid grid--md grid--center">
        <% if panelData[:show_title] || panelData[:image] %>
          <% if panelData[:show_title] %>
            <div class="grid__cell grid__cell--md-12 e-hide-above-md">
              <% if headingLevel == "level-3" %>
                <h3 class="title-lg <%= titleColor %>"><%= panelData[:title] %></h3>
              <% else %>
                <h2 class="title-lg <%= titleColor %>"><%= panelData[:title] %></h2>
              <% end %>
            </div>
          <% end %>
          <% if panelData[:image] %>
            <% imgClasses = "grid__cell--md-12 grid__cell--md-above-md-5 e-align-cen" %>
            <% if panelData[:image_shrink]
              imgClasses = "grid__cell--auto"
            end %>
            <div class="grid__cell <%= imgClasses %>">
              <figure class="image">
                <div class="image__wrapper image__wrapper--light <%= "e-pad-sm" if panelData[:image_border] %>">
                  <img
                    class="b-lazy"
                    src="<%= panelData[:image][:url] %>"
                    data-src="<% panelData[:image][:url] %>"
                    alt="<% panelData[:image][:alt] %>">
                </div>
              </figure>
            </div>
          <% end %>
        <% end %>

        <div class="grid__cell grid__cell--md-12 grid__cell--md-above-md-7">
          <% if panelData[:show_title] %>
            <% if headingLevel == "level-3" %>
              <h3 class="title-lg e-mgn-b-sm e-hide-below-md <%= titleColor %>"><%= panelData[:title] %></h3>
            <% else %>
              <h2 class="title-lg e-mgn-b-sm e-hide-below-md <%= titleColor %>"><%= panelData[:title] %></h2>
            <% end %>
          <% end %>

          <div class="copy">
            <%=
              if isCopyXl || isCopyLg
                paraElem = isCopyXl ? '<p class="e-fz-lg"' : '<p class="e-fz-md"'
                markdown(panelData[:copy]).sub("<p", paraElem)
              else
                markdown(panelData[:copy])
              end
            %>
          </div>

          <% if panelData[:show_more] %>
            <%= partial "views/partials/expand",
              locals: { local_data: {
                id: showMoreCopy.cta_id,
                content: showMoreCopy.content }} %>
          <% end %>

          <% if panelData[:show_more] || panelData[:calls_to_action] || panelData[:tweet] %>
            <div class="e-mgn-t-sm">
              <div class="grid grid--xs">
                <% if panelData[:show_more] %>
                  <div class="grid__cell">
                    <%= partial "views/partials/btn",
                      locals: { local_data: {
                        type: "state",
                        size: "sm", style: "secondary",
                        label_on: "Show less", label_off: "Show more",
                        label_size: "sm",
                        aria_id: "activate-#{ showMoreCopy.cta_id }",
                        aria_target_id: showMoreCopy.cta_id }} %>
                  </div>
                <% end %>

                <% if panelData[:tweet] %>
                  <%= partial "views/partials/social",
                    locals: { local_data: {
                      icons: [
                        "https://twitter.com/intent/tweet?text=#{ panelData[:tweet][:text] }%20%40HansardSociety%20#{ panelData[:tweet][:media] }"
                        ]}} %>
                  <span class="grid__cell grid__cell--xxs e-col-black-3"><small> Tweet this</small> </span>
                <% end %>

                <% if panelData[:calls_to_action] %>
                  <% panelData[:calls_to_action].each do |cta| %>
                    <%= partial "views/partials/ctas",
                      locals: { local_data: {
                        entry_data: cta,
                        btn_size: "sm" }} %>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
