<%
panelData = local_data[:entry_data]

bgc = panelData[:background_color]
bgcClass = colorProfile(:mono).include?(bgc) ? panelBgc(bgc) : panelBgc(bgc, { gradient: true })

image = panelData[:image]
imageSize = panelData[:image_size]
imageBorder = panelData[:image_border]
imageInvert = panelData[:image_invert]
isSmallImage = imageSize == "small"
isMediumImage = imageSize == "medium"
isLargeImage = imageSize == "large"

title = panelData[:title]
titleColor = "#{ colorProfile(:dark).include?(bgc) ? "e-col-white-1" : "e-col-brand-green-2" }"
hasTitle = panelData[:show_title] != nil

copy = panelData[:copy]
copySize = panelData[:copy_size]
isCopyLg = copySize == "large"
isCopyXl = copySize == "extra-large"

showMoreCopy = panelData[:show_more]
tweet = panelData[:tweet]

callsToAction = panelData[:calls_to_action]

index = local_data[:index]
%>

<section
  id="panel-<%= index %>"
  class="panel <%= bgcClass %>">

    <% if hasTitle %>
      <div class="panel__content panel__content--narrow e-hide-above-sm">
        <h2 class="title-lg e-align-cen e-mgn-b-lg <%= titleColor %>"><%= title %></h2>
      </div>
    <% end %>

    <div class="panel__content panel__content--full">
      <div class="grid grid--lg grid--center">
        <div
          class="grid__cell
                grid__cell--lg-<%= isLargeImage ? "10" : (isMediumImage ? "8" : "6") %>
                grid__cell--lg-above-sm-<%= isLargeImage ? "5" : (isMediumImage ? "3" : "2") %>">

          <%= partial "views/partials/image",
            locals: { local_data: {
              image_data: image,
              invert: imageInvert,
              border: imageBorder }} %>
        </div>

      <div class="grid__cell grid__cell--lg-above-sm-7">
        <% if hasTitle %>
          <h2 class="title-lg e-mgn-b-sm e-hide-below-sm <%= titleColor %>"><%= title %></h2>
        <% end %>

        <div class="copy">
          <%=
            if isCopyXl || isCopyLg
              paraElem = isCopyXl ? '<p class="e-fz-lg"' : '<p class="e-fz-md"'
              markdown(copy).sub("<p", paraElem)
            else
              markdown(copy)
            end
          %>
        </div>

        <% if showMoreCopy %>
          <%= partial "views/partials/expand",
            locals: { local_data: {
              id: showMoreCopy.cta_id,
              content: showMoreCopy.content }} %>

        <% end; if showMoreCopy || callsToAction || tweet %>
          <div class="grid grid--xs">
            <% if showMoreCopy %>
              <div class="grid__cell">
                <%= partial "views/partials/btn",
                  locals: { local_data: {
                    type: "state",
                    size: "sm", style: "secondary",
                    label_on: "Show more", label_off: true,
                    label_size: "sm",
                    aria_id: "activate-#{ showMoreCopy.cta_id }",
                    aria_target_id: showMoreCopy.cta_id }} %>
              </div>

            <% end; if tweet %>
              <%= partial "views/partials/social",
                locals: { local_data: {
                  icons: [
                    "https://twitter.com/intent/tweet?text=#{ panelData[:tweet][:text] }%20%40HansardSociety%20#{ panelData[:tweet][:media] }"
                    ]}} %>
              <span class="grid__cell grid__cell--xxs e-col-black-3"><small> Tweet this</small> </span>

            <% end; if callsToAction
              callsToAction.each do |cta| %>
                <%= partial "views/partials/ctas",
                  locals: { local_data: {
                    entry_data: cta,
                    btn_size: "sm" }} %>

            <% end; end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
