<%
isThemePage = @entry && @entry[:TYPE] == "theme_page"
isLandingPage = @entry && @entry[:TYPE] == "landing_page"

totalFeedPages = 0
dataFeedCount = 6

entryData = local_data[:entry_data]

###########################################################################
##		=Theme and landing pages
###########################################################################

if isThemePage || isLandingPage
  title = entryData[:title]
  bgc = entryData[:background_color] ? panelBgc(entryData[:background_color]) : "e-bgc-greyscale-0"

  feedData = entryData[:feed]
  feedCategory = feedData[:category]
  feedSubCategory = feedData[:sub_category] if feedData[:sub_category]

  dataFeedCategory = (feedSubCategory ? feedCategory + "::" + feedSubCategory : feedCategory)
  dataFeedPage = 1
end

###########################################################################
##		=Theme page
###########################################################################

if isThemePage
  feedPagesTheme = getThemePages(allChildLandingPages(), @entry[:theme])
  feedPagesThemeShown = feedPagesTheme[0..5]
  totalFeedPages = (feedPagesTheme.length / 6).ceil

  dataFeedTotal = (totalFeedPages <= 1 ? totalFeedPages : totalFeedPages + 1)

# Landing page only
elsif isLandingPage
  countFeedPages(feedCategory, { sub_cat: (feedSubCategory ? feedSubCategory : false) }) do |number|
    totalFeedPages = number.to_i.ceil
  end

  dataFeedTotal = (totalFeedPages <= 1 ? totalFeedPages : totalFeedPages + 1)

  feedPagesMain = latestContent({
    num: dataFeedCount,
    start: 0,
    page_cats: (feedSubCategory ? [feedSubCategory] : feedCategory),
    sub_cats: (feedSubCategory ? true : false)
  })

###########################################################################
##		=Feed page
###########################################################################

else
  feedData = entryData
  altFeedData = alt_data[:feed_data]

  title = "Page #{ altFeedData[:feed_page] }"

  dataFeedCategory = altFeedData[:feed_category]
  dataFeedPage = altFeedData[:feed_page]
  dataFeedTotal = altFeedData[:feed_total] + 1
end
%>

<!--**********************************************
    =Feed
***********************************************-->

<section class="panel <%= bgc %>">
  <% if title %>
    <div class="panel__content panel__content--narrow">
      <h3 class="title-lg e-col-brand-green-1 e-align-cen e-mgn-b-lg"><%= title %></h3>
    </div>
  <% end %>
  <div class="panel__content panel__content--wide">
    <div
      class="feed JS-feed grid grid--md grid--center"
      data-feed-category="<%= dataFeedCategory %>"
      data-feed-count="<%= dataFeedCount %>"
      data-feed-total="<%= dataFeedTotal %>"
      data-feed-page="<%= dataFeedPage %>">

      <div class="grid__cell <% dataFeedPage < dataFeedTotal ? "grid__cell--fill" : "grid__cell--center" %> grid__cell--md-above-md-9 grid__cell--above-md-order-2">
        <div class="feed__items">

          <% if isThemePage %>
            <% feedPagesThemeShown.each do |id, page| %>
              <%= partial "views/partials/feed-item",
                locals: { local_data: {
                  entry_data: page,
                  context: "dynamic" }} %>
            <% end %>

          <% elsif isLandingPage %>
            <% feedPagesMain.map do |page| %>
              <%= partial "views/partials/feed-item",
                locals: { local_data: {
                  entry_data: page,
                  context: "dynamic" }} %>
            <% end %>

          <% else %>
            <% feedData.map do |id, page| %>
              <%= partial "views/partials/feed-item",
                locals: { local_data: {
                  entry_data: page }} %>
            <% end %>
          <% end %>
        </div>

        <div class="feed__status">
          <div class="infinite-scroll-request e-col-green">
            <%= partial "views/partials/icon",
              locals: {
                icon: "load-c",
                size: "md" } %>
          </div>
          <span class="infinite-scroll-last label-sm e-col-mid-grey">&mdash; End &mdash;</span>
          <span class="infinite-scroll-error label-sm e-col-mid-grey">Please reload the page</span>
        </div>
        <div class="feed__load">
          <%= partial "views/partials/btn",
            locals: { local_data: {
              type: "link",
              size: "md",
              style: "secondary",
              label: "Load more...",
              label_size: "md" }} %>
        </div>
      </div>

      <% if dataFeedPage < dataFeedTotal %>
        <aside class="grid__cell grid__cell--fill grid__cell--md-above-md-3">
          <div class="feed__menu">
            <h3 class="title-sm e-col-brand-green-2">Go to page</h3>
            <ul class="feed__menu-items grid grid--xxs e-mgn-t-xs">
              <%
              pages = (1..(dataFeedTotal - 1))
              pageRange = 20

              pagination = pages.reject{ |pageNo|
                ((pageNo < pages.last) && (pageNo > (dataFeedPage + pageRange))) ||
                ((pageNo > 1) && (pageNo < (dataFeedPage - pageRange))) }

              pagination.each_with_index do |pageNo, index|
              %>
                <%# Elipsis prev %>
                <% if (pageNo == (dataFeedPage - pageRange)) && (dataFeedPage != (pages.first + pageRange)) %>
                  <li class="grid__cell grid__cell--xxs">
                    <span class="feed__menu-item JS-disabled">…</span>
                  </li>
                <% end %>

                <%# Page number %>
                <li class="grid__cell grid__cell--xxs">
                  <a
                    class="feed__menu-item <%= "JS-active" if dataFeedPage === pageNo %>"
                    href="<%= internalURL("#{ dataFeedCategory.gsub("::", "/") }/feed/page-#{ pageNo }") %>">
                    <%= pageNo %>
                  </a>
                </li>

                <%# Elipsis next %>
                <% if (pageNo == (dataFeedPage + pageRange)) && (dataFeedPage != (pages.last - pageRange)) %>
                  <li class="grid__cell grid__cell--xxs">
                    <span class="feed__menu-item JS-disabled">…</span>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </div>
        </aside>
      <% end %>
    </div>
  </div>
</section>
