<%
panelData = local_data[:entry_data]
index = local_data[:index]
flow = local_data[:flow]

bgc = panelData[:background_color]
title = panelData[:title]
copy = panelData[:copy]
callsToAction = panelData[:calls_to_action]
%>

<div
  id="<%= "panel-#{index}" if index %>"
  class="panel <%= "panel--flow" if flow %>
    <%= colorProfile(:mono).include?(bgc) ?
        contentBgc(bgc) :
        contentBgc(bgc, { gradient: true }) %>">

  <div class="panel__inner">
    <div class="panel__content panel__content--narrow">
      <h2 class="<%= "e-col-brand-green-2" if colorProfile(:light).include?(bgc) %> title-xl e-align-cen"><%= title %></h2>
    </div>

    <% if callsToAction %>
      <div class="panel__content panel__content--narrow e-mgn-t-md">
        <div class="grid grid--xs grid--center">
          <% callsToAction.each do |cta| %>
            <div class="grid__cell">
              <%= partial "views/partials/ctas",
                locals: { local_data: {
                  entry_data: cta }} %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
