<%
panelData = local_data[:entry_data]

bgc = panelData[:background_color]
bgcClass = colorProfile(:mono).include?(bgc) ? panelBgc(bgc) : panelBgc(bgc, { gradient: true })

title = panelData[:title]
titleColor = "#{ colorProfile(:dark).include?(bgc) ? "e-col-white-1" : "e-col-brand-green-2" }"
hasTitle = panelData[:show_title]

imageInvert = panelData[:image_invert]
copy = panelData[:copy]
index = local_data[:index]
# image = panelData[:image]
# imageSize = panelData[:image_size]
%>

<section
  id="<%= "panel-#{ index }" if index %>"
  class="panel <%= bgcClass %>">
  <div class="panel__inner">
    <div class="panel__content panel__content--wide">
      <% if hasTitle%>
        <h3 class="title-lg e-align-cen e-mgn-b-md <%= titleColor %>"><%= title %></h3>
      <% end %>
      <div class="grid grid--sm grid--center">

        <%# Pages %>
        <% if panelData[:icons] == :pages %>
          <% data.hs.theme_page.sort_by{|id, theme| theme[:title] }.each do |id, theme|
            bannerImage = theme[:banner_image] ? theme[:banner_image] : siteData(:default_banner)#
            bannerImageFocus = theme[:banner_image] ? theme[:banner_image][:focus] : "center" %>

            <div class="grid__cell grid__cell--sm-6 grid__cell--sm-above-xs-5 grid__cell--sm-above-sm-4 grid__cell--sm-above-md-3">
              <%= partial "views/partials/image",
                locals: { local_data: {
                  circle: true,
                  caption: theme[:title],
                  link: internalURL(theme[:slug]),
                  image_data: {
                    url: bannerImage[:url],
                    alt: bannerImage[:alt],
                    focus: bannerImageFocus
                  }
              }} %>
            </div>
          <% end %>

        <%# Icons %>
        <% else %>
          <% panelData[:icons].each do |image| %>
            <div class="grid__cell grid__cell--md-above-md-2">
              <%= partial "views/partials/image",
                locals: { local_data: {
                  image_data: image,
                  invert: imageInvert,
                  icon: true }} %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</section>
