<%
panelData = local_data[:entry_data]
flow = local_data[:flow]
index = local_data[:index]

bgc = panelData[:background_color]
bgcClass = contentBgc(bgc)

title = panelData[:title]
titleColor = colorProfile(:dark).include?(bgc) ? "e-col-white-1" : "e-col-brand-green-1"
hasTitle = panelData[:show_title]
headingLevel = panelData[:heading_level]

copy = panelData[:copy]
panelSlug = panelData[:panel_slug]

containerSize = panelData[:container_size]
cellClassBase = "grid__cell--md-above"
if containerSize == "tiny"
  colSpanResClassSm = "#{cellClassBase}-sm-6"
  colSpanResClassMd = "#{cellClassBase}-md-3"
elsif containerSize == "small"
  colSpanResClassSm = "#{cellClassBase}-sm-6"
  colSpanResClassMd = "#{cellClassBase}-md-4"
elsif containerSize == "medium"
  colSpanResClassSm = "#{cellClassBase}-md-12"
  colSpanResClassMd = "#{cellClassBase}-lg-6"
elsif containerSize == "large"
  colSpanResClassSm = "#{cellClassBase}-md-6"
  colSpanResClassMd = "#{cellClassBase}-lg-12"
end

textBoxes = panelData[:text_boxes]

headingLevel = panelData[:heading_level] != "level-3" ? :h2 : :h3
headingAttrs = {
  "class": "title-lg e-align-cen e-mgn-b-md #{ titleColor }"
}
%>

<section
  id="<%= panelSlug ? panelSlug : "panel-#{ index }" %>"
  class="panel <%= "panel--flow" if flow %> <%= bgcClass %>"
>

  <div class="panel__inner">
    <div class="panel__content panel__content--full">

      <% if hasTitle %>
        <% content_tag(headingLevel, headingAttrs) do %>
          <% if panelSlug %>
            <a class="panel__title-slug" href="#<%= panelSlug %>"><%= panelData[:title] %></a>
          <% else %>
            <%= panelData[:title] %>
          <% end %>
        <% end %>
      <% end %>

      <div class="grid grid--md">
        <% textBoxes.each do |textBoxData| %>
          <div class="grid__cell grid__cell--md-12 <%= colSpanResClassSm %> <%= colSpanResClassMd %>">
            <%= partial "views/partials/text-box",
              locals: { local_data: {
                text_box_data: textBoxData
            }} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
