<%
navSorted = data[:hs].navbar.sort_by{ |id, nav| nav.order }
%>

<nav class="navbar JS-inactive" id="navbar">
  <div class="navbar__inner">

    <!--**********************************************
        =Left
    ***********************************************-->

    <div class="navbar__left">

      <%= partial "views/partials/menu",
        locals: { local_data: {
          id: "menu-mobile",
          screen: "mobile",
          nav_items: navSorted }} %>

      <%= partial "views/partials/btn",
        locals: { local_data: {
          type: "state",
          size: "sm",
          page: "no-scroll",
          exclusive: true,
          secondary_target: "navbar",
          icon: "menu",
          icon_size: "md",
          aria_id: "activate-menu-mobile",
          aria_target_id: "menu-mobile" }} %>
    </div>

    <!--**********************************************
        =Centre/Logo
    ***********************************************-->

    <div class="navbar__center">
      <%= partial "views/partials/logo" %>
    </div>

    <!--**********************************************
        =Right
    ***********************************************-->

    <div class="navbar__right">
      <ul class="navbar__list">
        <% navSorted.each do |id, nav| %>
          <% menuDesktopBaseID = "menu-desktop-" + nav[:title].parameterize %>
          <%
          if nav[:items_col_1] && nav[:items_col_2]
            navColumnsItems = [nav[:items_col_1].flatten, nav[:items_col_2].flatten].reduce([], :concat)
          elsif nav[:items_col_1]
            navColumnsItems = nav[:items_col_1].flatten
          else
            navColumnsItems = false
          end %>

          <li
            class="navbar__item title-sm
            <%= "navbar__item--solo" if (navColumnsItems && navColumnsItems.length <= 1) || nav[:external_url] %>">

            <%# Single internal page %>
            <% if navColumnsItems && navColumnsItems.length <= 1
              nav[:items_col_1].each do |page| %>
              <a
                class="title-sm e-col-white-1"
                href="<%= internalURL(page[:slug]) %>"
                title="<%= nav[:title] + " | " + siteData(:site_title) %>"><%= nav[:title] %></a>
              <% end %>
            <% end %>

            <%# External URL %>
            <% if nav[:external_url] %>
              <a
                class="e-col-white-1"
                href="<%= nav[:external_url] %>"
                rel="noopener"
                target="_blank"
                title="<%= nav[:title] %>"><%= nav[:title] %></a>
            <% end %>

            <%# Menu %>
            <% if navColumnsItems && navColumnsItems.length > 1 %>
              <div class="e-col-white-1 navbar__btn-container">

                <%= partial "views/partials/btn",
                  locals: { local_data: {
                    type: "state",
                    page: "no-scroll",
                    exclusive: true,
                    secondary_target: "navbar",
                    icon: "chevron-down",
                    icon_size: "xs",
                    text: nav[:title],
                    text_size: "sm",
                    animation: "rotate",
                    aria_id: "activate-#{ menuDesktopBaseID }",
                    aria_target_id: menuDesktopBaseID }} %>
              </div>
            <% end %>

            <%= partial "views/partials/nav/menu-desktop",
              locals: { local_data: {
                id: menuDesktopBaseID,
                nav_items: nav }} %>
          </li>
        <% end %>
      </ul>

      <div class="e-col-white-1 navbar__btn-container">
        <%= partial "views/partials/btn",
          locals: { local_data: {
            type: "state",
            page: "no-scroll",
            exclusive: true,
            secondary_target: "navbar",
            icon: "android-search",
            icon_size: "sm",
            aria_id: "activate-menu-desktop-search",
            aria_target_id: "menu-desktop-search" }} %>

        <div
          id="menu-desktop-search"
          class="menu JS-inactive menu--desktop menu--search">
          <div class="menu__nav-bg"></div>
          <div class="menu__container e-mgn-auto-x">
            <iframe
              class="search-iframe"
              src="/static/search.html"
              frameborder="0"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
