<%
@entry = entry_data
blogCount = @entry[:blog_count] ? @entry[:blog_count] : 2
category = @entry[:category]
copy = @entry[:copy]
introduction = @entry[:introduction]
featured = @entry[:featured]

isMainCategories = siteCategories(:top_main).include? category
isReverseHeaderCats = ["blog", "events", "publications"].include?(category)
isAuthoredPage = ["blog", "media"].include?(category)

nonPages = ["people", "product", "registration"]

# For share buttons
safeTitle = CGI.escape(@entry[:title])
url = "https://hansardsociety.org.uk/"
%>

<article
  id="IS_<%= category.upcase %>"
  class="print print--child-page">

  <%= partial "views/partials/banner/child-page",
    locals: { local_data: { entry_data: @entry }} %>

  <div class="content content--wide content--paper e-mgn-b-lg e-acc-<%= catColor(category) %>-2-top">

    <%# Page intro/ featured item %>
    <div class="content__header">
      <div class="grid grid--md grid--center">

        <%# Introduction %>
        <section
          class="grid__cell grid__cell--md-above-md-7 grid__cell--fill copy
                <%= "grid__cell--order-2 grid__cell--above-md-order-1" if isReverseHeaderCats %>">

          <%= markdown(introduction, "byline") %>
        </section>

        <%# Featured side content %>
        <aside
          class="grid__cell grid__cell--md-above-md-5 grid__cell--fill print__hide
                <%= "grid__cell--order-1 grid__cell--above-md-order-2" if isReverseHeaderCats %>">

          <%# Entry has featured content %>
          <% if featured %>
            <% if isAuthoredPage %>
              <% featured.map do |featuredItem| %>
                <% if featuredItem && featuredItem[:TYPE] == "people" %>
                  <%= partial "views/partials/profile",
                    locals: { local_data: {
                      profile_data: featuredItem,
                      side: true }} %>
                <% end %>
              <% end %>
            <% else %>
              <% featured.first(1).map do |featured|%>
                <%= partial "views/partials/side-card",
                  locals: { local_data: {
                    side_card_data: featured,
                    featured: true }} %>
              <% end %>
            <% end %>
          <% end %>
        </aside>
      </div>
    </div><%# END :: Page intro %>

    <%# Main content %>
    <div class="content__section">
      <div class="grid grid--md grid--center">
        <section
          id="expand"
          class="grid__cell grid__cell--md-above-md-7 grid__cell--expand grid__cell--fill JS-inactive copy">

          <%# Copy %>
          <%= markdown(copy) if copy %>

          <% if isMainCategories %>
            <hr>
            <h2 class="title-sm print__hide">Enjoy reading this? Please consider sharing it</h2>
            <div class="grid grid--xxs grid--middle e-mgn-b-sm print__hide">
              <%= partial "views/partials/social",
                locals: { local_data: {
                  icons: [
                    "https://twitter.com/intent/tweet?text=#{ safeTitle }&url=#{ url }#{ @entry[:slug] }&related=HansardSociety",
                    "https://facebook.com/sharer.php?u=#{ url }#{ @entry[:slug] }",
                    "https://www.linkedin.com/shareArticle?mini=true&url=#{ url }#{ @entry[:slug] }&title=#{ safeTitle }&source=hansardsociety.org.uk"
                  ]}} %>
            </div>
          <% end %>

          <!--**********************************************
              =Site map
          ***********************************************-->

          <% if @entry[:ID] == "1qpGZlJUSAYkaOAemgek08"
            pagesByCategory = latestContent(page_cats: siteCategories(:top_all)).group_by{ |val| val[:category] } %>

            <div class="copy">
              <ul>
                <% pagesByCategory.sort.each do |category, pages| %>
                  <li class="e-mgn-t-md">
                    <a
                      class="link e-fz-lg"
                      href="<%= internalURL(category) %>"
                      title="<%= category.capitalize + " | " + siteData(:site_title) %>"><%= category.capitalize %></a>
                    <ul class="e-mgn-t-sm">
                      <% pages.sort_by{ |page| page[:title] }.each do |page| %>
                        <li>
                          <span class="label-xxs e-col-grey-3"><%= page[:meta_label] %></span>
                          <p><a
                            class="link"
                            href="<%= internalURL(page[:slug]) %>"
                            title="<%= page[:title] %> | <%= siteData(:site_title) %>"><%= page[:title] %></a></p>
                        </li>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <%# END :: Site map %>

          <%# Expand button %>
          <div class="grid__expand-btn print__hide">
            <%= partial "views/partials/btn",
              locals: { local_data: {
                type: "state", size: "lg", style: "secondary", fill: true,
                label_on: "Show less", label_off: "Show more", label_size: "lg",
                aria_id: "activate-expand", aria_target_id: "expand" }} %>
          </div>
        </section>

        <%# Side content %>
        <aside class="grid__cell grid__cell--md-above-md-5 grid__cell--fill print__hide">

          <%# Side cards %>
          <% if isMainCategories %>

            <%# If blog, add all non-author featured content to sidebar %>
            <% if isAuthoredPage %>
              <% featured.reject{ |featuredItem| !featuredItem || featuredItem[:TYPE] == "people" }.each_with_index do |featuredItem, index| %>
                <% if index == 0 %>
                  <h2 class="side-title e-acc-black-2-top">Featured</h2>
                <% end %>
                <%= partial "views/partials/side-card",
                  locals: { local_data: {
                    side_card_data: featuredItem,
                    featured: true }} %>
              <% end %>

            <%# If not blog, add all featured items to the sidebar except
              # the first, which is featured alongside the intro text. %>
            <% elsif featured && featured.length > 1 %>
              <h2 class="side-title e-acc-black-2-top">Featured</h2>
              <% featured.drop(1).map do |featuredItem| %>
                <% if !nonPages.include? featuredItem[:TYPE] %>
                  <%= partial "views/partials/side-card",
                    locals: { local_data: {
                      side_card_data: featuredItem,
                      featured: true }} %>
                <% end %>
              <% end %>
            <% end %>

            <%# External links %>
            <% if @entry[:external_links] %>
              <h2 class="side-title e-acc-black-3-top">Links</h2>
              <% @entry[:external_links].map do |link| %>
                <%= partial "views/partials/ext-link",
                  locals: { local_data: {
                    ext_link_data: link }} %>
              <% end %>
            <% end %>

            <%# All tagged/ related content %>
            <% if @entry[:tags] %>
              <h2 class="side-title e-acc-brand-green-2-top">Related</h2>
              <% relatedContent(@entry, { blog_count: blogCount }) do |page| %>
                <%= partial "views/partials/side-card",
                  locals: { local_data: {
                    side_card_data: page
                }} %>
              <% end %>
            <% end %>
          <% end %><%# END :: if isMainCategories %>

          <%# Newsletter signup %>
          <div class="signup e-pad-sm e-mgn-t-md e-bg-grad-brand-green">
            <% mainNewsletter = siteData(:main_newsletter) %>
            <% modalID = "#{ mainNewsletter[:title].parameterize }-sidebar" %>

            <h2 class="title-md e-col-white-1"><%= mainNewsletter[:title] %></h2>
            <p class="e-col-white-1 e-mgn-t-xs"><%= mainNewsletter[:copy] %></p>
            <div class="e-mgn-t-xs">
              <%= partial "views/partials/btn",
                locals: { local_data: {
                  type: "state",
                  size: "md",
                  style: "primary",
                  label_on: "Close",
                  label_off: "Subscribe",
                  label_size: "md",
                  page: "no-scroll",
                  switch: true,
                  aria_id: "activate-#{ modalID }",
                  aria_target_id: modalID
              }} %>
              <%= partial "views/partials/modal",
                locals: { local_data: {
                  id: modalID,
                  content: false,
                  contentPadding: true,
                  form: mainNewsletter[:call_to_action][:modal][:form],
                  size: "narrow"
              }} %>
            </div>
          </div>

          <%# Latest items for about pages %>
          <% if category == "about" %>
            <h2 class="side-title e-acc-brand-green-2-top">Latest</h2>
            <% latestContent(yield: true, num: 4) do |page| %>
              <%= partial "views/partials/side-card",
                locals: { local_data: {
                  side_card_data: page }} %>
            <% end %>

          <% else %>
            <div class="top-3">
              <h2 class="side-title e-acc-brand-green-2-top e-pad-t-xs">Top three</h2>
              <% featuredPages = data.hs.homepage(0).values[0].featured_pages.reject{|page| page[:ID] == @entry[:ID] }
                featuredPages[0..2].each do |page| %>
                  <%= partial "views/partials/side-card",
                    locals: { local_data: {
                      side_card_data: page }} %>
              <% end %>
            </div>
          <% end %>
        </aside>
      </div>
    </div>
  </div>
  <% if isMainCategories %>
    <section class="panel__pull print__hide">
      <%= partial "views/partials/panel/carousel",
        locals: { local_data: {
          entry_data: @entry,
          context: :latest,
          data_type: :latest,
          start_at: 3,
          dedupe_entry_id: @entry[:ID],
          title: "Latest" }} %>
    </section>
  <% end %>
</article>
