<%
entryData = local_data[:entry_data]

# safeTitle = entryData[:title].encode(Encoding.find('ASCII'), { replace: "" })
safeTitle = CGI.escape(entryData[:title])
%>

<header class="banner JS-banner--semi">

  <%= partial "views/partials/banner/image",
    locals: { local_data: {
      entry_data: entryData }} %>

  <div class="banner__inner banner__inner--cp">
    <div class="banner__content banner__content--cp">
      <div class="grid grid--md">
        <div class="grid__cell grid__cell--md-above-md-7">
          <div class="label-xxs label-tag e-acc-<%= catColor(entryData[:category]) %>-2 e-col-white-1"><%= entryData[:meta_label_link] %></div>
          <h1
            class="banner__title title-lg e-mgn-t-xxs JS-truncate"
            data-truncate="{ 'xs': 200 }"><%= entryData[:title] %></h1>
        </div>
        <div class="grid__cell grid__cell--md-above-md-5 grid__cell--end print__hide">
          <div class="grid grid--xxs grid--middle">
            <div class="grid__cell grid__cell--xxs-12 label-xxs">Share this</div>
            <%= partial "views/partials/social",
              locals: { local_data: {
                icons: [
                  "https://twitter.com/intent/tweet?text=#{ safeTitle }&url=#{ siteData(:site_url) }/#{ entryData[:slug] }&via=HansardSociety&related=HansardSociety",
                  "https://facebook.com/sharer.php?u=#{ siteData(:site_url) }/#{ entryData[:slug] }",
                  "https://www.linkedin.com/shareArticle?mini=true&url=#{ siteData(:site_url) }/#{ entryData[:slug] }&title=#{ safeTitle }&source=hansardsociety.org.uk"
                ]}} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

