<%
entryData = local_data[:entry_data]
%>

<header
  class="banner JS-banner--full"
  style="height: 87.5vh;">

  <div class="carousel">
    <div class="carousel__inner JS-carousel--home">
      <div class="carousel__item carousel__item--banner" style="height: 87.5vh;">
        <%= partial "views/partials/banner/image",
          locals: { local_data: {
            entry_data: entryData }} %>

        <div class="banner__inner banner__inner--lp">
          <div class="banner__content banner__content--lp">

            <h1 class="banner__title title-xl"><%= entryData[:title] %></h1>
            <p class="banner__strap e-mgn-t-xs"><%= entryData[:subtitle] %></p>

            <div class="grid grid--xxs grid--above-sm-center e-mgn-t-sm">
              <%= partial "views/partials/social",
                locals: { local_data: {
                  icons: [
                    siteData(:twitter),
                    siteData(:linkedin),
                    siteData(:facebook)]}} %>
            </div>
          </div>
        </div>
      </div>

      <% entryData[:featured_pages].each do |page| %>
        <div class="carousel__item carousel__item--banner" style="height: 100vh;">
          <%= partial "views/partials/banner/image",
            locals: { local_data: {
              entry_data: page }} %>

          <div class="banner__inner banner__inner--lp">
            <div class="banner__content banner__content--lp">

              <span class="label-xs e-mgn-b-xxs e-mgn-b-xxs e-pad-y-xs e-pad-x-xxs e-acc-<%= catColor(page[:category]) %>-2"><%= page[:meta_label] %></span>
              <h1 class="banner__title title-xl e-mgn-b-sm"><%= page[:title] %></h1>
              <%= partial "views/partials/btn",
                locals: { local_data: {
                  type: "link", size: "md", style: "primary",
                  label: "Read more", label_size: "md",
                  url: "/#{ page[:slug] }" }} %>
            </div>
          </div>
        </div>
      <% end %>


    </div>
    <div class="carousel__actions carousel__actions--home">
      <div class="carousel__prev">
        <%= partial "views/partials/icon",
          locals: {
            icon: "chevron-left",
            size: "sm",
            color: "green" } %>

        <span>Prev</span>
      </div>
      <div class="carousel__next">
        <span>Next</span>
        <%= partial "views/partials/icon",
          locals: {
            icon: "chevron-right",
            size: "sm",
            color: "green" } %>
      </div>
    </div>

  </div>
</header>
