<%
entryData = local_data[:entry_data]
imageSrc = entryData[:banner_image] ? entryData[:banner_image] : siteData(:default_banner)
imageURL = imageSrc[:url]
imageAlt = imageSrc[:alt]
imageFocus = entryData[:banner_image] ? entryData[:banner_image][:focus] : "center"
isLandingPage = entryData[:TYPE] == "landing_page"
isChildPage = entryData[:TYPE] == "child_page"
%>

<div
  class= "banner__image <% "banner__image--" + imageFocus %>"
  style="<%= "height: 100vh;" if isChildPage %>">

  <picture>
    <source
      media="(orientation: landscape)"
      sizes="100vw"
      srcset="<%= imageURL %>?w=640&q=35&fl=progressive 640w,
              <%= imageURL %>?w=854&q=35&fl=progressive 854w,
              <%= imageURL %>?w=1280&q=35&fl=progressive 1280w,
              <%= imageURL %>?w=1920&q=35&fl=progressive 1920w" />

    <source
      media="(orientation: portrait)"
      sizes="100vw"
      srcset="<%= imageURL %>?<%= isLandingPage ?
                "fit=fill&w=360&h=640&q=35&fl=progressive" :
                "fit=fill&w=360&h=360&q=35&fl=progressive" %>&f=<%= imageFocus %> 360w,
              <%= imageURL %>?<%= isLandingPage ?
                "fit=fill&w=720&h=1280&q=35&fl=progressive" :
                "fit=fill&w=720&h=720&q=35&fl=progressive" %>&f=<%= imageFocus %> 720w,
              <%= imageURL %>?<%= isLandingPage ?
                "fit=fill&w=1080&h=1440&q=35&fl=progressive" :
                "fit=fill&w=1080&h=1080&q=35&fl=progressive" %>&f=<%= imageFocus %> 1080w" />

    <img
      class="b-lazy"
      alt="<%= imageAlt %>"
      src="<%= assetsDir %>/images/placeholder__main-card.svg"
      data-src="<%= imageURL %>?f=<%= imageFocus %>" />

  </picture>
</div>
