<%
entryData = local_data[:entry_data]
%>

<header
  class="banner JS-banner--full"
  style="height: 90vh;">

  <%= partial "views/partials/banner/image",
    locals: { local_data: {
      entry_data: entryData }} %>

  <div class="banner__inner banner__inner--lp">
    <div class="banner__content banner__content--lp">

      <h1
        class="banner__title title-lg JS-truncate"
        data-truncate="{ 'xs': 120 }"><%= entryData[:title] %></h1>

      <p class="banner__strap e-mgn-t-xs"><%= entryData[:subtitle] %></p>

      <% if entryData[:calls_to_action] != nil %>
        <div class="grid grid--xs grid--above-sm-center e-mgn-t-sm">
          <% entryData[:calls_to_action].each do |cta| %>
            <div class="grid__cell">

              <% if cta[:TYPE] == "cta_download" %>
                <%= partial "views/partials/btn",
                  locals: { local_data: {
                    type: "link", size: "md", style: "primary",
                    label: cta.button_text, label_size: "md",
                    url: cta[:file][:url] }} %>

              <% end; if cta[:TYPE] == "cta_modal"
                modalID = cta[:modal][:cta_id]
                modalContent = cta[:modal][:content]
                btnText = cta[:button_text] %>

                <%= partial "views/partials/btn",
                  locals: { local_data: {
                    type: "state",
                    size: "md", style: "primary",
                    label_on: btnText, label_off: "Close",
                    label_size: "md",
                    page: "no-scroll", switch: true,
                    aria_id: "activate-#{ modalID }",
                    aria_target_id: modalID }} %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <% if entryData[:calls_to_action] != nil
    entryData[:calls_to_action].each do |cta|
      if cta[:TYPE] == "cta_modal"
        modalID = cta[:modal][:cta_id]
        modalContent = cta[:modal][:content]
        modalForm = cta[:modal][:form]
        modalWidth = modalForm ? "narrow" : false %>

        <%= partial "views/partials/modal",
          locals: { local_data: {
            id: modalID,
            content: modalContent,
            form: (modalForm ? modalForm : false),
            size: modalWidth }} %>
  <% end; end; end %>
</header>
