<%
entryData = local_data[:entry_data]
accent = "e-acc-#{ catColor(entryData[:category]) }-2-bottom" if entryData[:category]
safeTitle = CGI.escape(entryData[:title])
%>

<header class="banner JS-banner--full <%= accent if !entryData[:show_introduction] %>">
  <%= partial "views/partials/banner/image",
    locals: { local_data: {
      entry_data: entryData }} %>

  <div class="banner__inner banner__inner--lp">
    <div class="banner__content banner__content--lp">

      <span class="label-xxs label-tag e-acc-<%= catColor(entryData[:category]) %>-2 e-col-white-1">
        <%= entryData[:meta_label] %>
      </span>

      <h1
        class="banner__title title-<%= @entry[:category] == "blog" ? "xl" : "xxl" %> JS-truncate e-mgn-t-xs"
        data-truncate="{ 'xs': 120 }"><%= entryData[:title] %></h1>

      <% if entryData[:subtitle] %>
        <p class="banner__strap e-mgn-t-xs"><%= entryData[:subtitle] %></p>
      <% end %>

      <% if entryData[:calls_to_action] != nil %>
        <div class="grid grid--xs grid--above-sm-center e-mgn-t-sm">
          <% entryData[:calls_to_action].each do |cta| %>
            <div class="grid__cell">

              <% if cta[:TYPE] == "cta_download" %>
                <%= partial "views/partials/btn",
                  locals: { local_data: {
                    type: "link", size: "md", style: "primary",
                    label: cta.button_text, label_size: "md",
                    url: cta[:file][:url] }} %>

              <% end; if cta[:TYPE] == "cta_modal"
                modalID = cta[:modal][:cta_id]
                modalContent = cta[:modal][:content]
                btnText = cta[:button_text] %>

                <%= partial "views/partials/btn",
                  locals: { local_data: {
                    type: "state",
                    size: "md", style: "primary",
                    label_on: btnText, label_off: "Close",
                    label_size: "md",
                    page: "no-scroll", switch: true,
                    aria_id: "activate-#{ modalID }",
                    aria_target_id: modalID }} %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
      <% if @entry[:category] == "blog" %>
        <div class="grid grid--xxs grid--center e-pad-t-sm">
          <%= partial "views/partials/social",
            locals: { local_data: {
              icons: [
                "https://twitter.com/intent/tweet?text=#{ safeTitle }&url=#{ siteData(:site_url) }/#{ entryData[:slug] }&via=HansardSociety&related=HansardSociety",
                "https://facebook.com/sharer.php?u=#{ siteData(:site_url) }/#{ entryData[:slug] }",
                "https://www.linkedin.com/shareArticle?mini=true&url=#{ siteData(:site_url) }/#{ entryData[:slug] }&title=#{ safeTitle }&source=hansardsociety.org.uk"
              ]}} %>
        </div>
      <% end %>
    </div>
  </div>

  <% if entryData[:calls_to_action] != nil
    entryData[:calls_to_action].each do |cta|
      if cta[:TYPE] == "cta_modal"
        modalID = cta[:modal][:cta_id]
        modalContent = cta[:modal][:content]
        modalForm = cta[:modal][:form]
        modalWidth = modalForm ? "narrow" : false %>

        <%= partial "views/partials/modal",
          locals: { local_data: {
            id: modalID,
            content: modalContent,
            form: (modalForm ? modalForm : false),
            size: modalWidth }} %>
  <% end; end; end %>
</header>
