<!DOCTYPE html>
<html lang="en">
<head>
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1" name="viewport">
<meta content="noindex" name="robots">
<title></title>

<link rel="stylesheet" href="<%= assetsDir %><%= config[:CSS_VENDOR] %>">
<link rel="stylesheet" href="<%= assetsDir %><%= config[:CSS_APP] %>">

<base target="_parent">
</head>

<body>
  <%= yield %>
  <%= partial "views/partials/search/template-scripts" %>
  <script src="<%= assetsDir %><%= config[:JS_VENDOR] %>"></script>
  <script src="<%= assetsDir %><%= config[:JS_APP] %>"></script>
  <script src="<%= assetsDir %><%= config[:JS_SEARCH] %>"></script>
</body>
</html>
