<!DOCTYPE html>
<html>
  <%= partial "views/partials/head/main" %>

  <body class="JS-state-global">
    <div class="site-container">
      <%= partial "views/partials/navbar" %>
      <main><%= yield %></main>
      <%= partial "views/partials/footer" %>
    </div>
  </body>

  <script src="<%= assetsDir %><%= config[:JS_VENDOR] %>"></script>
  <script src="<%= assetsDir %><%= config[:JS_APP] %>"></script>
</html>
