<!DOCTYPE html>
<html lang="en">
  <%= partial "views/partials/frame/head-main" %>

  <body class="JS-state-global">
    <div class="site-container">
      <%= partial "views/partials/nav/navbar" %>
      <main id="Main"><%= yield %></main>
      <%= partial "views/partials/footer" %>
    </div>

    <%= partial "views/partials/frame/body-scripts" %>
  </body>
</html>
