<%
introduction = @entry[:introduction] ? @entry[:introduction] : siteData(:site_title)
imageURL = @entry[:banner_image] ? @entry[:banner_image][:url] : siteData(:default_banner)[:url]
pageURL = "#{ siteData(:site_url) }/#{ @entry[:slug] }"
headline = @entry[:title]

isHome = @entry[:TYPE] == "home"
isBlog = @entry[:category] == "blog"
isPublication = @entry[:category] == "publications"


# Titles
if isHome
  title = "#{ siteData(:site_title_seo) }"
elsif @entry[:seo_title]
  title = "#{ @entry[:seo_title] } | #{ siteData(:site_title) }"
else
  title = "#{ @entry[:title] } | #{ siteData(:site_title) }"
end

timestamp = Time.at(@entry[:date_time][:integer]).utc.iso8601 if @entry[:date_time]
%>

<!--**********************************************
    =Core
***********************************************-->

<% if config[:ENV] == "production" %>
  <link
    rel="canonical"
    href="<%= @entry[:TYPE] === "child_page" && @entry[:canonical_link] ? @entry[:canonical_link] :  pageURL %>">
<% end %>

<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1" name="viewport">

<% if config[:ENV] != "production" || @entry[:noindex] %>
  <meta content="noindex" name="robots">
<% end %>

<title><%= title %></title>

<!--**********************************************
    =Twitter
***********************************************-->

<meta content="summary_large_image" name="twitter:card">
<meta content="@HansardSociety" name="twitter:site">
<meta content="<%= headline %>" name="twitter:title">
<meta content="<%= introduction %>" name="twitter:description">
<meta content="<%= imageURL %>" name="twitter:image">

<!--**********************************************
    =Facebook
***********************************************-->

<meta property="og:url" content="<%= pageURL %>">
<meta property="og:type" content="article">
<meta property="og:title" content="<%= headline %>">
<meta property="og:description" content="<%= introduction %>">
<meta property="og:image" content="<%= imageURL %>?w=1920&h=1008&fit=crop">
<meta property="og:image:width" content="1920">
<meta property="og:image:height" content="1008">

<!--**********************************************
    =Structured data
***********************************************-->

<meta name="description" content="<%= truncateHtml(introduction, { num: 500, elipsis: false }) %>">

<script type="application/ld+json">
{
  "@context": "http://schema.org",

  <% if @entry[:TYPE] == "home" %>
    "@type": "Organization",
    "name": "<%= siteData(:site_title) %>",
    "url": "https://www.hansardsociety.org.uk",
    "logo": "https://www.hansardsociety.org.uk/assets/images/hansard-society-logo.png",
    "sameAs": [
      "https://twitter.com/HansardSociety",
      "https://www.facebook.com/HansardSoc/",
      "https://www.linkedin.com/company/hansard-society"
    ]

  <% elsif ["blog", "publications"].include? @entry[:category] %>
    "@type": "<%= isBlog ? "BlogPosting" : "Article" %>",
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": "https://google.com/article"
    },
    "headline": "<%= headline %>",
    "image": {
      "@type": "ImageObject",
      "url": "<%= imageURL %>?w=1920&h=1008&fit=crop",
      "height": 1008,
      "width": 1920
    },
    "datePublished": "<%= timestamp %>",
    "author": {
      "@type": "<%= isPublication ? "Organization" : "Person" %>",
      "name": "<%= @entry[:featured] && @entry[:featured][0][:full_name] ? @entry[:featured][0][:full_name] : "#{ siteData(:site_title) }" %>"
    },
    "publisher": {
      "@type": "Organization",
      "name": "<%= siteData(:site_title) %>",
      "logo": {
        "@type": "ImageObject",
        "url": "https://www.hansardsociety.org.uk/assets/images/hansard-society-logo-ld-article.png",
        "width": 158,
        "height": 60
      }
    },
    "description": "<%= truncateHtml(introduction, { num: 500, elipsis: false }) %>"
  <% end %>
}
</script>
