<%
introduction = @entry[:introduction] ? @entry[:introduction] : siteData(:site_title)
imageURL = @entry[:banner_image][:url]
pageURL = "#{ siteData(:site_url) }/#{ @entry[:slug] }"
isHome = @entry[:TYPE] == "home"

# Titles
if isHome
  title = "#{ @entry[:title] } - #{ @entry[:seo_title_keywords] }"
elsif @entry[:seo_title]
  title = "#{ @entry[:seo_title] } | Hansard Society"
else
  title = "#{ @entry[:title] } | Hansard Society"
end

timestamp = Time.at(@entry[:date_time][:integer]).utc.iso8601 if @entry[:date_time]
%>

<!--**********************************************
    =Core
***********************************************-->

<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<meta charset="utf-8" />
<meta content="width=device-width, initial-scale=1" name="viewport" />

<% if config[:ENV] != "production"%>
  <meta content="noindex" name="robots" />
<% end %>

<meta
  name="description"
  content="<%= truncateHtml(introduction, { num: 154, elipsis: false }) %>"/>

<title><%= title %></title>

<!--**********************************************
    =Twitter
***********************************************-->

<meta content="summary_large_image" name="twitter:card"/>
<meta content="@HansardSociety" name="twitter:site"/>
<meta content="<%= title %>" name="twitter:title"/>
<meta content="<%= introduction %>" name="twitter:description"/>
<meta content="https:<%= @entry[:banner_image].url %>" name="twitter:image"/>

<!--**********************************************
    =Facebook
***********************************************-->

<meta property="og:url" content="<%= pageURL %>"/>
<meta property="og:type" content="article"/>
<meta property="og:title" content="<%= title %>"/>
<meta property="og:description" content="<%= introduction %>"/>
<meta property="og:image" content="https:<%= imageURL %>?w=1920&h=1008&fit=crop"/>
<meta property="og:image:width" content="1920"/>
<meta property="og:image:height" content="1008"/>

<!--**********************************************
    =Structured data
***********************************************-->

<meta content="<%= introduction %>" name="description"/>

<% if @entry[:category] == "blog" %>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "NewsArticle",
      "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://google.com/article"
      },
      "headline": "<%= title %>",
      "image": {
        "@type": "ImageObject",
        "url": "https:<%= imageURL %>?w=1920&h=1008&fit=crop",
        "height": 1008,
        "width": 1920
      },
      "datePublished": "<%= timestamp %>",
      "author": {
        "@type": "Person",
        "name": "<%= @entry[:featured] && @entry[:featured][0][:full_name] ? @entry[:featured][0][:full_name] : "Hansard Society" %>"
      },
      "publisher": {
        "@type": "Organization",
        "name": "Hansard Society",
        "logo": {
          "@type": "ImageObject",
          "url": "https:<%= siteData(:logo)[:desktop][:url] %>?fm=png",
          "width": 251,
          "height": 342
        }
      },
      "description": "<%= introduction %>"
    }
  </script>
<% end %>
