<%
formData = form_data
formName = "checkout-#{ formData[:payment_form] }"
itemName = formData[:meta_title].gsub('"', "&quot;")

isShipping = formData[:payment_form] == "shipping"

errText = "Please review this field"
%>

<form
  class="form form--netlify form--checkout"
  name="<%= config[:ENV] == "production" ? formName : formName + "-ENV-" + config[:ENV] %>"
  action="/"
  data-netlify="true"
  data-netlify-honeypot="r2d2-03"

  data-checkout-type="<%= formData[:payment_form] %>"
  data-checkout-form-id=""
>

  <!--	=Main fields	-->
  <div class="form__main">
    <label class="e-zzz">
      <span>Please skip this field:&nbsp;</span>
      <input type="email" name="r2d2-03">
    </label>

    <h3 class="form__title">Product information</h3>

    <div class="form__product">
      <div class="form__product-left">
        <img
          src="<%= formData[:image][:url] %>"
          alt="<%= formData[:image][:alt] %>"
        >
      </div>
      <div class="form__product-right">
        <p class="e-fz-xs e-mgn-b-xs"><strong>Item</strong>: <%= itemName %></p>

        <!--	=Item: title	-->
        <label class="e-hidden">
          <span class="form__label label-xxs">Item</span>
          <input
            class="form__field"
            type="text"
            name="item-name"
            data-name="itemName"
            value="<%= itemName %>"
            readonly="readonly"

            data-item-name="<%= itemName %>"
            data-item-sku="<%= itemName %>"
            data-item-shipping-sku-uk="<%= itemName %>"
            data-item-shipping-sku-international="<%= itemName %>"
          >
        </label>

        <p class="e-fz-xs e-mgn-b-xs"><strong>Item price</strong>: GBP £<%= sprintf("%.2f", formData[:price]) %></p>

        <!--	=Item: title	-->
        <label class="e-hidden">
          <span class="form__label label-xxs">Price</span>
          <input
            class="form__field"
            type="text"
            name="item-price"
            data-name="itemPrice"
            value="<%= formData[:price] %>"
            readonly="readonly"
          >
        </label>

        <!--	=Item: quantity	-->
        <div class="form__select-wrapper">
          <label>
            <span class="form__label label-xxs">Quantity</span>
            <select
              class="form__field"
              data-name="itemQuantity"
              required="required"
            >
              <% (1..5).each do |qty| %>
                <option value="<%= qty %>"><%= qty %></option>
              <% end %>
            </select>
            <span class="form__err"><%= errText %></span>
          </label>
        </div>

        <p class="e-fz-xs e-mgn-t-xs"><em>Please <a class="link" href="mailto:<%= siteData(:contact_email) %>" title="Contact us">contact us</a> if you require more copies.</em></p>
      </div>
    </div>

    <hr>
    <h3 class="form__title e-mgn-t-md">Customer information</h3>

    <!--	=First name	-->
    <label class="e-width-full">
      <span class="form__label label-xxs">First name</span>
      <input
        class="form__field"
        type="text"
        name="first-name"
        data-name="customerFirstName"
        placeholder="eg. Stephen"
        required="required"
      >
      <span class="form__err"><%= errText %></span>
    </label>

    <!--	=Surname	-->
    <label class="e-width-full">
      <span class="form__label label-xxs">Surname</span>
      <input
        class="form__field"
        type="text"
        name="surname"
        data-name="customerSurname"
        placeholder="eg. King-Hall"
        required="required"
      >
      <span class="form__err"><%= errText %></span>
    </label>

    <!--	=Email	-->
    <label class="e-width-full">
      <span class="form__label label-xxs">Email address</span>
      <input
        class="form__field"
        type="email"
        name="email"
        data-name="customerEmail"
        placeholder="eg. skinghall@email.com"
        required="required"
      >
      <span class="form__err"><%= errText %></span>
    </label>

    <%# Shipping %>
    <% if isShipping %>
      <hr>
      <h3 class="form__title e-mgn-t-md">Shipping information</h3>

      <div class="copy e-fz-xs e-mgn-b-sm">
        <%= markdown(siteData(:checkout_shipping_information)) %>
      </div>

      <!--	=Address: line 1	-->
      <label class="e-width-full">
        <span class="form__label label-xxs">Address line 1</span>
        <input
          class="form__field"
          type="text"
          name="address-line-1"
          data-name="shippingAddressLine1"
          placeholder="eg. 1 Parliament Steet"
          required="required"
        >
        <span class="form__err"><%= errText %></span>
      </label>

      <!--	=Address: line 2	-->
      <label class="e-width-full">
        <span class="form__label label-xxs">Address line 2</span>
        <input
          class="form__field"
          type="text"
          name="address-line-2"
          data-name="shippingAddressLine2"
          placeholder="eg. Westminster"
        >
      </label>

      <!--	=Address: line 3	-->
      <label class="e-width-full">
        <span class="form__label label-xxs">Address line 3</span>
        <input
          class="form__field"
          type="text"
          name="address-line-3"
          data-name="shippingAddressLine3"
          placeholder="eg. Greater London"
        >
      </label>

      <!--	=Address: post code	-->
      <label class="e-width-full">
        <span class="form__label label-xxs">Postal/zip code</span>
        <input
          class="form__field"
          type="text"
          name="address-post-code"
          data-name="shippingAddressPostcode"
          placeholder="eg. SW1A 0AA"
          required="required"
        >
        <span class="form__err"><%= errText %></span>
      </label>

      <!--	=Address: country	-->
      <div class="form__select-wrapper e-width-full">
        <label class="e-width-full">
          <span class="form__label label-xxs">Country</span>
          <select
            class="form__field"
            data-name="shippingAddressCountry"
            required="required"
          >
            <option
              class="e-col-greyscale-2"
              value=""
              disabled=""
              selected=""
              hidden=""
            >Please select a country...</option>
            <% siteData(:checkout_countries_list).each do |country| %>
              <option value="<%= country %>"><%= country %></option>
            <% end %>
          </select>
          <span class="form__err"><%= errText %></span>
        </label>
      </div>
    <% end %>

    <!--	=Review	-->
    <hr>
    <h3 class="form__title e-mgn-t-md">Review your order before proceeding</h3>

    <div class="form__review-order e-fz-xs">
      <p><strong>Item</strong>: <%= itemName %></p>
      <p><strong>Quantity</strong>: 1<span id="itemQuantity"></span></p>

      <% if isShipping %>
        <p class="e-mgn-t-xs">
          <strong>Shipping address</strong>:<br>
          <span id="shippingAddressLine1">Address line 1,</span>
          <span id="shippingAddressLine1">Address line 2,</span>
          <span id="shippingAddressLine1">Address line 3,</span>
          <span id="shippingAddressLine1">Postcode,</span>
          <span id="shippingAddressLine1">Country</span>
        </p>
      <% end %>
    </div>

    <div class="e-mgn-t-sm">
      <%= partial "views/partials/btn",
        locals: { local_data: {
          type: "plain",
          size: "sm",
          style: "primary",
          label: "Continue to payment",
          label_size: "sm",
          form: true }} %>
      <span class="form__invalid-alert e-mgn-t-xs">* Please review the fields highlighted above and try again...</span>
    </div>
  </div>

  <div class="form__confirmation copy">

    <p>CONFIRMATION MESSAGE HERE</p>

    <div class="e-mgn-t-sm">
      <%= partial "views/partials/social-follow",
        locals: { bgc: "light" } %>
    </div>
  </div>

  <%# Error %>
  <div class="form__error">
    <h2 class="title-lg e-col-brand-green-2">:( Oops! Something went wrong…</h2>
    <p class="e-mgn-t-sm">Sorry, it seems we're having trouble conneting you to our server. Please reload the page and try again.</p>
  </div>
</form>
