<%
formData = form_data
paymentForm = formData[:payment_form]
isBasic = paymentForm == "basic"
isShipping = paymentForm == "shipping",
formPages = [{

    # Product information
    type: "custom",
    page: "product",
    title: "Start your order",
    fields: [{
      type: "number",
      label: "Quantity",
      id: "quantity"
    }]
  }, {

    # Contact information
    type: "custom",
    page: "contact",
    title: "Contact information",
    fields: [{
      type: "text",
      label: "First name",
      id: "first-name",
      placeholder: "eg. Jane"
    }, {
      type: "text",
      label: "Surname",
      id: "surname",
      placeholder: "eg. Smith"
    }, {
      type: "email",
      label: "Email",
      id: "email-address",
      placeholder: "eg. your@email.com"
    }]
  }, {

    # Shipping information
    type: "custom",
    page: "shipping",
    title: "Shipping address",
    fields: [{
      type: "text",
      label: "Street addr.",
      id: "street",
      placeholder: "eg. 1 Parliament Street"
    }, {
      type: "text",
      label: "Town",
      id: "town",
      placeholder: "eg. Westminster"
    }, {
      type: "text",
      label: "City/region",
      id: "city",
      placeholder: "eg. London"
    }, {
      type: "text",
      label: "Postal code",
      id: "postal-code",
      placeholder: "eg. SW1A 0AA"
    }, {
      type: "select",
      label: "Country",
      id: "country"
    }]
  }, {

    # Payment information
    type: "payment",
    page: "payment",
    title: "Billing information",
    fields: [
      {
        type: "text",
        label: "Street addr.",
        id: "billing-street-address",
        placeholder: "eg. 1 Parliament Street"
      }, {
        type: "text",
        label: "Postal code",
        id: "billing-postal-code",
        placeholder: "eg. SW1A 0AA"
      },
      "card-number",
      "expiration-date",
      "cvv"
    ]
  }]
%>

<div class="form__head" tabindex="-1">
  <div class="form__head-title">
    <%= partial "views/partials/icon",
      locals: {
        icon: "ios-cart",
        size: "xs" } %>

    <h3 class="label-xs e-mgn-b-sm">Basket</h3>
  </div>
  <p class="form__head-product-name">
    <strong>Item:</strong>
    <span
      data-product-id="<%= formData[:product_id] %>"
      data-product-name="<%= formData[:title] %>"><%= formData[:title] %></span>
  </p>
  <p class="form__head-product-price">
    <strong>Price: </strong>
    £<span data-product-price="<%= sprintf("%.2f", formData[:price]) %>"><%= sprintf("%.2f", formData[:price]) %></span>
  </p>
  <p class="form__head-product-qty">
    <strong>Qty:</strong>
    <span data-product-qty="1">1</span>
  </p>
  <p class="form__head-product-pp">
    <strong>P&amp;P: </strong>
    £<span data-product-pp="0">0</span>
  </p>
  <p class="form__head-product-total">
    <strong>TOTAL:</strong>
    <small>GBP</small> £<span data-product-total="<%= sprintf("%.2f", formData[:price]) %>"><%= sprintf("%.2f", formData[:price]) %></span>
  </p>
</div>
<div id="form-pages" class="form__pages form__pages--<%= formPages.length - 1 %>">

  <% formPages.each_with_index do |page, index| %>

    <div
      data-form-page="<%= page[:page] %>"
      id="form-pg-<%= index %>"
      class="<%= index > 0 ? "JS-inactive" : "JS-active" %>
            form__page
            form__page--<%= index %>-to-<%= formPages.length - 1 %>"
      tabindex="0">

      <!--	=Title	-->
      <h3 class="title-md e-col-brand-green-1 e-mgn-b-sm"><%= page[:title] %></h3>

      <!--	=Custom fields	-->
      <% if page[:type] == "custom"
        if page[:page] == "product" %>
          <div class="copy e-mgn-b-sm">
            <p><strong class="e-col-brand-green-1">Item: </strong><%= formData[:title] %></p>
            <p><strong class="e-col-brand-green-1">Price: </strong><small>GBP</small> £<%= sprintf("%.2f", formData[:price]) %></p>
          </div>

        <% end; if page[:page] == "shipping" %>
          <h3 class="label-xs e-col-brand-green-1">Postage and packaging rates</h3>
          <div class="e-fz-xs  e-mgn-b-sm">
            <p><strong>United Kindom: </strong><small>GBP</small> £5.00</p>
            <p><strong>International: </strong><small>GBP</small> £10.00</p>
          </div>
        <% end; page[:fields].each do |field| %>

          <label
            for="<%= field[:id] %>"
            class="form__label label-xs"><%= field[:label] %>
          </label>

          <% if field[:id] == "quantity" %>

            <!--	=Quantity	-->
            <div class="form__qty">
              <input
                name="<%= field[:id] %>"
                type="<%= field[:type] %>"
                value="1"
                min="1"
                class="form__field form__field--qty">
              <div class="form__qty-actions">
                <span class="form__qty-remove">
                  <%= partial "views/partials/icon",
                    locals: {
                      icon: "minus-round",
                      size: "xs" } %>
                </span>
                <span class="form__qty-add">
                  <%= partial "views/partials/icon",
                    locals: {
                      icon: "plus-round",
                      size: "xs" } %>
                </span>
              </div>
            </div>
          <% elsif field[:type] == "select" %>

            <!--	=Select	-->
            <select
              class="form__field"
              name="<%= field[:id] %>">

              <%= partial "views/partials/form/countries" %>
            </select>

          <% else %>

            <!--	=Regular inputs	-->
            <input
              name="<%= field[:id] %>"
              type="<%= field[:type] %>"
              value="<%= field[:value] %>"
              placeholder="<%= field[:placeholder] %>"
              class="form__field <%= "form__field--currency" if field[:id] == "price" %>"
              <%= "readonly" if field[:readonly] %>>

      <!--	=Payment fields	-->
        <% end; end;
      elsif page[:type] == "payment"

        # Braintree fields
        page[:fields].each do |field|

          if field.class != Hash %>
            <label class="form__label label-xs" for="<%= field %>">
              <%= field.capitalize.gsub("-", " ") %>
            </label>
            <div class="form__field" id="<%= field %>"></div>

          <% else %>
            <label
              for="<%= field[:id] %>"
              class="form__label label-xs"><%= field[:label] %>
            </label>
            <input
              name="<%= field[:id] %>"
              type="<%= field[:type] %>"
              placeholder="<%= field[:placeholder] %>"
              class="form__field">
      <% end; end; end %>

      <!--	=Form actions	-->
      <div class="form__actions">

        <% if index > 0 %>
          <div class="form__prev" tabindex="-1">
            <%= partial "views/partials/btn",
              locals: { local_data: {
                type: "state",
                switch: true,
                size: "sm",
                style: "secondary",
                label_on: "Back",
                label_size: "sm",
                aria_id: "activate-form-pg-#{ index }",
                aria_target_id: "form-pg-#{ index }" }} %>
          </div>

        <% end; if index < (formPages.length - 1) %>
          <div class="form__next">
            <%= partial "views/partials/btn",
              locals: { local_data: {
                type: "state",
                switch: true,
                size: "sm",
                style: "primary",
                label_on: "Next",
                label_size: "sm",
                aria_id: "activate-form-pg-#{ index + 1 }",
                aria_target_id: "form-pg-#{ index + 1 }" }} %>
          </div>

        <% end; if page[:type] == "payment" %>
          <div class="form__next">
            <%= partial "views/partials/btn",
              locals: { local_data: {
                type: "plain",
                size: "sm",
                style: "primary",
                label: "Place order",
                label_size: "sm",
                form: true }} %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
