<%
partialData = local_data[:ext_link_data]
medium = partialData[:medium]
%>

<article class="ext-link">
  <h2 class="ext-link__inner title-sm">
    <span
      aria-hidden="true"
      class="ext-link__text label-xxs e-col-grey-2"><%= partialData[:outlet] %></span>

    <span aria-hidden="true" class="ext-link__icon">
      <%= partial "views/partials/icon",
        locals: {
          icon:
            ("ios-paper" if medium == "article") ||
            ("android-download" if medium == "download") ||
            ("headphone" if medium == "audio") ||
            ("ios-videocam" if medium == "video") ||
            ("ios-book" if medium == "book"),
          size:  "xs",
          color: "green" } %>
    </span>

    <a
      class="ext-link__text"
      href="<%= partialData[:url] %>"
      target="_blank"
      rel="noreferrer noopener"
      title="<%= partialData[:title] %>">
      <span class="link"><%= partialData[:title] %></span>
    </a>
  </h2>
</article>
