<%
feedData = local_data[:entry_data]

context = local_data[:context]
isDynamic = context == "dynamic"

image = ""
if feedData[:banner_image]
  image = feedData[:banner_image]
elsif feedData[:image]
  image = feedData[:image]
else
  image = siteData(:default_banner)
end

imgURL = "#{ image[:url] }?fit=fill&w=300&h=300&f=#{ image[:focus] }&q=50"
imgAlt = image[:alt]

if isDynamic == true
  imgAttrs = {
    "class": "b-lazy",
    "src": "#{ assetsDir }/images/icon-sprite.svg#images",
    "data-src": imgURL,
    "alt": imgAlt
  }
else
  imgAttrs = {
    "src": imgURL,
    "alt": imgAlt
  }
end
%>

<article class="feed-item">
  <div class="feed-item__img">
    <%= tag(:img, imgAttrs) %>
  </div>
  <div class="feed-item__content">
    <span class="label-xxs label-tag e-acc-<%= catColor(feedData[:category]) %>-2 e-col-white-1"><%= feedData[:meta_label] %></span>

    <h2 class="title-sm e-mgn-t-xxs">
      <a
        class="link"
        target="<%= "_blank" if feedData[:TYPE] == "external_link" %>"
        href="<%= feedData[:TYPE] != "external_link" ? internalURL(feedData[:slug]) : feedData[:url] %>"
        title="<%= feedData[:title] + " | " + siteData(:site_title) %>"><%= feedData[:title] %></a>
    </h2>
  </div>
</article>
