<%
feedData = local_data[:entry_data]

context = local_data[:context]
isDynamic = context == "dynamic"

bannerImage = feedData[:banner_image] ? feedData[:banner_image] : siteData(:default_banner)

imgURL = "#{ bannerImage[:url] }?fit=fill&w=300&h=300&f=#{ bannerImage[:focus] }&q=50&fl=progressive"
imgAlt = bannerImage[:alt]

if isDynamic == true
  imgAttrs = {
    "class": "b-lazy",
    "src": "#{ assetsDir }/images/icon-sprite.svg#images",
    "data-src": imgURL,
    "alt": imgAlt
  }
else
  imgAttrs = {
    "src": imgURL,
    "alt": imgAlt
  }
end
%>

<article class="feed-item">
  <div class="feed-item__img">
    <%= tag(:img, imgAttrs) %>
  </div>
  <div class="feed-item__content">
    <span class="label-xxs label-tag e-acc-<%= catColor(feedData[:category]) %>-2 e-col-white-1"><%= feedData[:meta_label] %></span>

    <h2 class="title-sm e-mgn-t-xxs">
      <a
        class="link"
        href="<%= internalURL(feedData[:slug]) %>"
        title="<%= feedData[:title] + " | " + siteData(:site_title) %>"><%= feedData[:title] %></a>
    </h2>
  </div>
</article>
