<footer class="panel e-bgc-brand-green-2 e-col-white-1">
  <div class="panel__inner">
    <div class="panel__content panel__content--full">
      <div class="grid grid--md grid--full">

        <%# Pages %>
        <div class="grid__cell grid__cell--fill grid__cell--md-above-md-4 e-pad-t-sm e-acc-brand-green-1-top">
          <ul>
            <% siteData(:footer_pages).each do |page| %>
              <li class="e-pad-b-xs">
                <a
                  class="title-sm link-white"
                  href="<%= internalURL(page[:slug]) %>"
                  title="<%= page[:title] + " | " + siteData(:site_title) %>"><%= page[:title] %></a>
              </li>
            <% end %>
          </ul>
        </div>

        <%# Newsletter %>
        <div class="grid__cell grid__cell--fill grid__cell--md-above-md-4 e-pad-t-sm e-acc-brand-green-1-top">
          <% mainNewsletter = siteData(:main_newsletter) %>
          <% modalID = "#{ mainNewsletter[:title].parameterize }-footer" %>

          <h2 class="title-md e-col-white-1"><%= mainNewsletter[:title] %></h2>
          <p class="e-col-white-1 e-mgn-t-xs"><%= mainNewsletter[:copy] %></p>
          <div class="e-mgn-t-xs">
            <%= partial "views/partials/btn",
              locals: { local_data: {
                type: "state",
                size: "md",
                style: "primary",
                label_on: "Close",
                label_off: "Subscribe",
                label_size: "md",
                page: "no-scroll",
                switch: true,
                aria_id: "activate-#{ modalID }",
                aria_target_id: modalID
            }} %>
            <%= partial "views/partials/modal",
              locals: { local_data: {
                id: modalID,
                content: false,
                contentPadding: true,
                form: mainNewsletter[:call_to_action][:modal][:form],
                size: "narrow"
            }} %>
          </div>
        </div>

        <%# Copyright %>
        <div class="grid__cell grid__cell--fill grid__cell--md-above-md-4 e-pad-t-sm e-acc-brand-green-1-top">
          <p class="e-fz-xs"><%= siteData(:copyright) %></p>
        </div>
      </div>
    </div>
  </div>
</footer>
