<%
category = locals[:category]
subCategory = locals[:sub_category]
%>

<aside id="history-button" class="hist-btn JS-inactive">
  <div
    class="hist-btn__overlay JS-off JS-switch JS-no-scroll"
    aria-hidden="true"
    aria-controls="history-button"></div>
  <ul class="hist-btn__content">

    <li class="hist-btn__recent">
      <div class="label-xs e-bgc-slate-blue-3 e-pad-x-xs e-pad-y-sm e-col-white-1">Recent pages</div>
      <ul class="hist-btn__section">
        <li class="hist-btn__tmpl is-active">
          <a class="hist-btn__link link-white" href="<%= @entry[:url] %>" title="Go to: <%= @entry[:title] %>"><%= @entry[:title].length > 90 ? "#{ @entry[:title][0...89].rstrip }…" : @entry[:title] %></a>
          <span class="hist-btn__cat">
            <a href="/<%= category %>" title="Go to: <%= category %>"><%= category %></a>
            <% if subCategory %>
              /&nbsp;<a href="/<%= category %>/<%= subCategory %>" title="Go to: <%= subCategory %>"><%= subCategory %></a>
            <% end %>
          </span>
        </li>
      </ul>
    </li>

    <li class="hist-btn__home">
      <%= partial "views/partials/icon",
        locals: {
          icon: "ios-home-outline",
          size: "xs"
      } %>
      <a class="hist-btn__link link-white e-pad-l-xxs" href="/">Home</a>
    </li>
  </ul>

  <%# On button %>
  <div class="hist-btn__on">
    <%= partial "views/partials/btn",
      locals: { local_data: {
        type: "state",
        size: "sm",
        icon: "ios-arrow-thin-left",
        icon_size: "md",
        page: "no-scroll",
        exclusive: true,
        switch: true,
        aria_id: "activate-history-button",
        aria_target_id: "history-button"
    }} %>
  </div>

  <div class="hist-btn__off">

    <%# Close button (default) %>
    <%= partial "views/partials/btn",
      locals: { local_data: {
        type: "state",
        size: "sm",
        icon: "ios-close-empty",
        icon_size: "md",
        page: "no-scroll",
        exclusive: true,
        switch: true,
        aria_id: "activate-history-button",
        aria_target_id: "history-button"
    }} %>

    <%# Back button %>
    <%= partial "views/partials/btn",
      locals: { local_data: {
        type: "link",
        size: "sm",
        icon: "ios-arrow-thin-left",
        icon_size: "md"
    }} %>
  </div>
</aside>
