<%
imageData = local_data[:image_data]

border = local_data[:border]
invert = local_data[:invert]
icon = local_data[:icon]
circle = local_data[:circle]
caption = local_data[:caption]

url = imageData[:url]
alt = imageData[:alt]
focus = imageData[:focus]

if circle
  imgW = "500"
  imgH = "500"
else
  imgW = "563"
  # imgH = "317"
end

link = local_data[:link]
%>

<figure class="image <%= "image--link" if link %>">
  <div
    class="image__wrapper
      <%= "e-pad-sm" if border %>
      <%= invert ? "image__wrapper--invert" : "image__wrapper--light" %>
      <%= "image__wrapper--icon" if icon %>
      <%= "image__wrapper--circle" if circle %>">

    <img
      class="image__img <%= "image__img--filter" if icon %>"
      alt="<%= alt %>"
      src="<%= url + (focus ? "?fit=fill&w=#{ imgW }&h=#{ imgH }&f=" + focus : "") %>">
  </div>

  <% if caption %>
    <figcaption class="image__caption">
      <h3 class="label-xxs e-col-brand-green-2"><%= caption %></h3>

      <% if link %>
        <a
          class="cover-link"
          href="<%= link %>"
          title="<%= caption + " | " + siteData(:site_title) %>">
          <span class="e-hidden"><%= caption %></span>
        </a>
      <% end %>
    </figcaption>
  <% end %>
</figure>

