<%
imageData = local_data[:image_data]

border = local_data[:border]
invert = local_data[:invert]
icon = local_data[:icon]
circle = local_data[:circle]
caption = local_data[:caption]

url = imageData[:url]
alt = imageData[:alt]
focus = imageData[:focus]

if circle
  imgW = "500"
  imgH = "500"
else
  imgW = "563"
  imgH = "317"
end
%>

<figure>
  <div
    class="image
      <%= "e-pad-sm" if border %>
      <%= invert ? "image--invert" : "image--light" %>
      <%= "image--icon" if icon %>
      <%= "image--circle" if circle %>">

    <img
      class="image__img"
      alt="<%= alt %>"
      src="<%= url + (focus ? "?fit=fill&w=#{ imgW }&h=#{ imgH }&f=" + focus : "") %>"/>
  </div>

  <% if caption %>
    <figcaption class="image__caption label-xxs">
      <%= caption %>
    </figcaption>
  <% end %>
</figure>

