<a
  class="logo"
  href="<%= internalURL("index") %>"
  title="Home | <%= siteData(:site_title) %>">

    <img
      alt="<%= siteData(:site_title) %> logo"
      class="logo__image logo__image--mobile"
      src="<%= siteData(:logo)[:mobile][:url] %>"/>
    <img
      alt="<%= siteData(:site_title) %> logo"
      class="logo__image logo__image--desktop"
      src="<%= siteData(:logo)[:desktop][:url] %>"/>
</a>
