<%
entryData = local_data[:entry_data]
category = entryData[:category]

bannerImage = entryData[:banner_image] ? entryData[:banner_image] : siteData(:default_banner)

imageURL = bannerImage[:url]
imageFocus = bannerImage[:focus]
imageAlt = bannerImage[:alt]

title = markdownStrip(entryData[:title])
introduction = markdownStrip(entryData[:introduction])
metaLabel = entryData[:meta_label]
url = internalURL(entryData[:slug])

noIntro = entryData[:no_intro]
disableLazy = entryData[:disable_lazy]

# Standard classes
if !entryData[:accents]

  categoryColor = catColor(category)
  accent = "e-acc-#{ categoryColor }-2-top"
  labelAccent = "e-acc-#{ categoryColor }-2"

# Algolia
else
  accent = "main-card--#{ category }"
  labelAccent = "main-card__label--#{ category }"
end

featuredCard = local_data[:featured]
%>

<article class="main-card <%= accent %>">

  <% if featuredCard %>
    <span class="main-card__featured-icon">
      <%= partial 'views/partials/icon',
        locals: {
          icon: "android-star-outline",
          size: "sm"
        } %>
    </span>
  <% end %>

  <header class="main-card__header e-col-white-1">
    <div class="main-card__image">
      <img
        class="<%= "b-lazy" if !disableLazy %>"
        src="<%= assetsDir %>/images/placeholder__main-card.svg"
        data-src="<%= imageURL %>?fit=fill&w=563&h=317&f=<%= imageFocus %>&q=50&fl=progressive"
        alt="<%= imageAlt %>">

      <div class="main-card__title">
        <span class="label-xxs label-tag <%= labelAccent %>"><%= metaLabel %></span>
        <h2
          class="title-sm e-mgn-t-xs JS-truncate"
          data-truncate="{ 'xs': 84, 'sm': 99, 'md': 134, 'lg': 99 }"><%= title %>
        </h2>
      </div>
    </div>
  </header>

  <% if !noIntro %>
    <section class="main-card__introduction">
      <p
        class="JS-truncate"
        data-truncate="{ 'xs': 84, 'sm': 99, 'md': 134, 'lg': 99 }"><%= introduction %></p>
    </section>
  <% end %>

  <% if category %>
    <a
      class="cover-link"
      href="<%= url %>"
      title="<%= title + " | " + siteData(:site_title) %>">
      <span class="e-hidden"><%= title %></span>
    </a>
  <% end %>
</article>
