<%
ajax = local_data[:ajax]
content = local_data[:content]
id = local_data[:id]
form = local_data[:form]
size = local_data[:size]
social = local_data[:social]
title = local_data[:title]
contentPadding = local_data[:contentPadding]

noScroll = local_data[:no_scroll] ? local_data[:no_scroll] : "no-scroll"

isYield = local_data[:yield]
%>

<div
  id="<%= id %>"
  class="modal JS-inactive print__hide"
  tabindex="-1">

  <div
    aria-controls="<%= id %>"
    class="modal__overlay JS-off JS-switch <%= "JS-no-scroll" if noScroll == "no-scroll" %>"></div>

  <div class="modal__inner <%= "modal__inner--" + size if size %>">
    <div class="modal__header">
      <div class="modal__close">
        <%= partial "views/partials/btn",
          locals: { local_data: {
            type: "state",
            switch: true,
            size: "xs",
            icon: "close-round",
            icon_size: "xs",
            icon_color: "green",
            page: noScroll,
            aria_target_id: id }} %>
      </div>
    </div>
    <div
      class="modal__content
            e-col-black-2
            JS-focus
            <%= "e-pad-sm" if contentPadding %>
            <%= "copy" if content %>
            <%= "AJAX-host" if ajax %>">

      <% if isYield %>
        <%= yield %>

      <% end; if content %>
        <% if title %>
          <h2 class="title-sm e-col-brand-green-1"><%= title %></h2>
        <% end %>
        <% if social && !social.all? {|i| i == nil }  %>
          <div class="grid grid--xxs e-mgn-b-sm">
            <%= partial "views/partials/social",
              locals: { local_data: {
                icons: social }} %>
          </div>
        <% end %>
        <%= markdown(content) %>

      <% end; if form %>
        <%= partial "views/partials/form/main",
          locals: { local_data: {
            entry_data: form,
            modal: true }} %>
      <% end %>
    </div>
  </div>
</div>
