<%
profileData = local_data[:profile_data]
actions = local_data[:actions]

ctaID = profileData[:cta_id]
biog = profileData[:biog]
email = profileData[:email]
fullName = profileData[:full_name]
linkedIn = profileData[:linkedin]
organisation = profileData[:organisation]
photo = profileData[:photo]
role = profileData[:role]
tel = profileData[:tel]
twitter = profileData[:twitter]
%>

<div class="profile">
  <div class="profile__image">
    <img
      alt="<%= photo[:alt] %>"
      src="<%= photo[:url] %>?fit=fill&w=324&h=324">
  </div>
  <div class="profile__main">
    <h1 class="title-sm e-col-white-1"><%= fullName %></h1>
    <p class="strap-xs e-col-white-1"><%= role + (organisation ? ", #{ organisation }" : "") %></p>

    <% if (biog || twitter || linkedIn) && actions != false %>
      <div class="profile__actions">
        <div class="grid grid--xxs">
          <% if biog %>
            <div class="grid__cell grid__cell--xxs">

              <%= partial "views/partials/btn",
                locals: { local_data: {
                  type: "state", switch: true,
                  size: "sm",
                  style: "secondary",
                  label_on: "Show biog", label_off: "Close", label_size: "sm",
                  page: "no-scroll", exclusive: true,
                  aria_id: "activate-#{ ctaID }",
                  aria_target_id: ctaID }} %>

              <%= partial "views/partials/modal",
                locals: { local_data: {
                  id: ctaID,
                  content: biog }} %>
            </div>
          <% end %>
          <%= partial "views/partials/social",
            locals: { local_data: {
              icons: [email, twitter, linkedIn] }} %>
        </div>
      </div>
    <% end %>

  </div>
</div>
