<%
textBoxData = local_data[:text_box_data]
align = local_data[:align]

# Color profiles
bgc = textBoxData[:background_color]
bgcClass = contentBgc(bgc)
title = textBoxData[:title]
showTitle = textBoxData[:show_title]
titleColor = colorProfile(:dark).include?(bgc) ? "e-col-white-1" : "e-col-brand-green-2"

# Options
copy = textBoxData[:copy]
copySize = textBoxData[:copy_size]
image = textBoxData[:image]
imageBorder = textBoxData[:image_border]
inlineHeader = textBoxData[:inline_header]
cta = textBoxData[:call_to_action]
targetSlug = textBoxData[:target_slug]

if copySize == "normal"
  copySizeClass = "e-fz-sm"
  titleSizeClass = "title-sm"
elsif copySize == "large"
  copySizeClass = "e-fz-md"
  titleSizeClass = "title-md"
elsif copySize == "extra-large"
  copySizeClass = "e-fz-lg"
  titleSizeClass = "title-lg"
end

alignClass = ""
if align
  alignClass = "text-box--#{align}"
end
%>
<section class="text-box <%= alignClass %> <%= bgcClass %>">
  <% if showTitle || image %>
    <div class="text-box__header
      <%= copy ? "e-bgc-white-2" : "text-box__header--solo e-bgc-white-1" %>
      <%= "grid grid--xs grid--middle" if inlineHeader %>
      <%= image && imageBorder && !inlineHeader ?
        "e-pad-sm" :
        (image && imageBorder && inlineHeader ?
          "e-pad-x-xs e-pad-l-sm" :
          "") %>
      ">

      <% if image %>
        <figure class="
          text-box__img
          <%= "grid__cell grid__cell--xs" if inlineHeader %>">
          <img
            class="text-box__img"
            src="<%= image[:url] %>"
            alt="<%= image[:alt] %>">
        </figure>
      <% end %>
      <% if showTitle %>
        <h3 class="
          <%= titleSizeClass %>
          <%= titleColor %>
          <%= "grid__cell grid__cell--xs" if inlineHeader %>
          e-pad-x-xs e-pad-y-sm
        ">
          <% if targetSlug %>
            <a href="#<%= targetSlug %>" class="link">
              <%= title %><%= partial "views/partials/icon",
                locals: {
                  icon: "ios-arrow-thin-right",
                  size: "xs"
              } %>
            </a>
          <% else %>
            <%= title %>
          <% end %>
        </h3>
      <% end %>
    </div>
  <% end %>
  <% if copy %>
    <div class="text-box__content <%= "text-box__content-with-head" if showTitle || image %> copy">
      <%= markdown(copy).sub("<p", "<p class=#{copySizeClass}") %>
    </div>
  <% end %>
</section>
