<%
textBoxData = local_data

# Color profiles
bgc = textBoxData[:background_color]
bgcClass = colorProfile(:mono).include?(bgc) ? contentBgc(bgc) : contentBgc(bgc, { gradient: true })
title = textBoxData[:title]
showTitle = textBoxData[:show_title]
titleColor = colorProfile(:dark).include?(bgc) ? "e-col-white-1" : "e-col-brand-green-1"

# Options
copy = textBoxData[:copy]
copySize = textBoxData[:copy_size]
image = textBoxData[:image]
imageBorder = textBoxData[:image_border]
inlineHeader = textBoxData[:inline_header]
cta = textBoxData[:call_to_action]

if copySize == "normal"
  copySizeClass = "e-fz-sm"
  titleSizeClass = "title-sm"
elsif copySize == "large"
  copySizeClass = "e-fz-md"
  titleSizeClass = "title-md"
elsif copySize == "extra-large"
  copySizeClass = "e-fz-lg"
  titleSizeClass = "title-lg"
end
%>
<section class="text-box <%= bgcClass %>">
  <% if showTitle || image %>
    <div class="text-box__header <%= "text-box__header--inline" if inlineHeader %>">
      <% if image %>
        <figure class="text-box__img <%= "text-box__img-with-border" if imageBorder %>">
          <img
            src="<%= image[:url] %>"
            alt="<%= image[:alt] %>">
        </figure>
      <% end %>
      <% if showTitle %>
        <h3 class="<%= titleSizeClass %> <%= titleColor %>"><%= title %></h3>
      <% end %>
    </div>
  <% end %>
  <div class="text-box__content <%= "text-box__content-with-head" if showTitle || image %>">
    <p class="<%= copySizeClass %>"><%= copy %></p>
  </div>
</section>
