<%
textBoxData = local_data[:text_box_data]
align = local_data[:align]

# Color profiles
bgc = textBoxData[:background_color]
bgcClass = contentBgc(bgc)
title = textBoxData[:title]
showTitle = textBoxData[:show_title]
titleColor = colorProfile(:dark).include?(bgc) ? "e-col-white-1" : "e-col-brand-green-2"

# Options
copy = textBoxData[:copy]
copySize = textBoxData[:copy_size]
image = textBoxData[:image]
imageBorder = textBoxData[:image_border]
inlineHeader = textBoxData[:inline_header]
cta = textBoxData[:call_to_action]

if copySize == "normal"
  copySizeClass = "e-fz-sm"
  titleSizeClass = "title-sm"
elsif copySize == "large"
  copySizeClass = "e-fz-md"
  titleSizeClass = "title-md"
elsif copySize == "extra-large"
  copySizeClass = "e-fz-lg"
  titleSizeClass = "title-lg"
end

alignClass = ""
if align
  alignClass = "text-box--#{align}"
end
%>
<section class="text-box <%= alignClass %> <%= bgcClass %>">
  <% if showTitle || image %>
    <div class="text-box__header <%= "grid grid--xs grid--middle" if inlineHeader %>">
      <% if image %>
        <figure class="
          text-box__img
          <%= imageBorder && !inlineHeader ?
            "e-pad-sm" :
            (imageBorder && inlineHeader ?
              "e-pad-x-xs e-pad-l-sm" :
              "") %>
          <%= "grid__cell grid__cell--xs" if inlineHeader %>">
          <img
            class="text-box__img"
            src="<%= image[:url] %>"
            alt="<%= image[:alt] %>">
        </figure>
      <% end %>
      <% if showTitle %>
        <h3 class="<%= titleSizeClass %> <%= titleColor %> <%= "grid__cell grid__cell--xs" if inlineHeader %>"><%= title %></h3>
      <% end %>
    </div>
  <% end %>
  <% if copy %>
    <div class="text-box__content <%= "text-box__content-with-head" if showTitle || image %>">
      <%= markdown(copy).sub("<p", "<p class=#{copySizeClass}") %>
    </div>
  <% end %>
</section>
